<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>文章列表</title>
<link href="css/wenzhangliebiao.css" rel="stylesheet" type="text/css" />
<script src="js/jq.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
	<div class="header">
    	<a href="#"><div class="return"></div></a>
        <a href="#"><div class="lookup"></div></a>
        <div class="logo"></div>     
    </div>
    <div class="topnav">
    	<ul class="nav">
        	<li class="frist"><a href="#"><p>首页</p></a></li>
            <li><a href="#"><p>榜单</p></a></li>
            <li><a href="#"><p>首页</p></a></li>
            <li><a href="#"><p>榜单</p></a></li>
        </ul>
    </div>
    <div class="banner"><img src="images/banner4.jpg" width="100%" /></div>
    <div class="main">
    	<div class="mainnav">
        	<ul class="nav">
            	<li class="frist"><a href="#">热门话题</a></li>
                <li><a href="#">最新文章</a></li>
                <li><a href="#">最新活动</a></li>
                <li><a href="#">最新活动</a></li>
            </ul>
        </div>
        <div class="article">
        	<ul class="list">
            	<li>
                	<div class="left"><img src="images/photo17.jpg" width="90" /></div>
                    <div class="right">
                    	<div class="title">清迈的色，拜县的狂—两妞儿</div>
                        <div class="author">
                        	<div class="name">作者:尼罗河</div>
                            <div class="time">时间:2015.10.17</div>
                        </div>
                        <div class="browse">当强烈意识到生活状态的失衡,迫切希望通过出去走走改变难以压抑的郁火</div>
                    </div>
                </li>
                <div class="border"></div>
                <li>
                	<div class="left"><img src="images/photo17.jpg" width="90" /></div>
                    <div class="right">
                    	<div class="title">清迈的色，拜县的狂—两妞儿</div>
                        <div class="author">
                        	<div class="name">作者:尼罗河</div>
                            <div class="time">时间:2015.10.17</div>
                        </div>
                        <div class="browse">当强烈意识到生活状态的失衡,迫切希望通过出去走走改变难以压抑的郁火</div>
                    </div>
                </li>
                <div class="border"></div>
                <li>
                	<div class="left"><img src="images/photo17.jpg" width="90" /></div>
                    <div class="right">
                    	<div class="title">清迈的色，拜县的狂—两妞儿</div>
                        <div class="author">
                        	<div class="name">作者:尼罗河</div>
                            <div class="time">时间:2015.10.17</div>
                        </div>
                        <div class="browse">当强烈意识到生活状态的失衡,迫切希望通过出去走走改变难以压抑的郁火</div>
                    </div>
                </li>
                <div class="border"></div>
                <li>
                	<div class="left"><img src="images/photo17.jpg" width="90" /></div>
                    <div class="right">
                    	<div class="title">清迈的色，拜县的狂—两妞儿</div>
                        <div class="author">
                        	<div class="name">作者:尼罗河</div>
                            <div class="time">时间:2015.10.17</div>
                        </div>
                        <div class="browse">当强烈意识到生活状态的失衡,迫切希望通过出去走走改变难以压抑的郁火</div>
                    </div>
                </li>
                <div class="border"></div>
                <li>
                	<div class="left"><img src="images/photo17.jpg" width="90" /></div>
                    <div class="right">
                    	<div class="title">清迈的色，拜县的狂—两妞儿</div>
                        <div class="author">
                        	<div class="name">作者:尼罗河</div>
                            <div class="time">时间:2015.10.17</div>
                        </div>
                        <div class="browse">当强烈意识到生活状态的失衡,迫切希望通过出去走走改变难以压抑的郁火</div>
                    </div>
                </li>
                <div class="border"></div>
                <li>
                	<div class="left"><img src="images/photo17.jpg" width="90" /></div>
                    <div class="right">
                    	<div class="title">清迈的色，拜县的狂—两妞儿</div>
                        <div class="author">
                        	<div class="name">作者:尼罗河</div>
                            <div class="time">时间:2015.10.17</div>
                        </div>
                        <div class="browse">当强烈意识到生活状态的失衡,迫切希望通过出去走走改变难以压抑的郁火</div>
                    </div>
                </li>
                <div class="border"></div>
                <li>
                	<div class="left"><img src="images/photo17.jpg" width="90" /></div>
                    <div class="right">
                    	<div class="title">清迈的色，拜县的狂—两妞儿</div>
                        <div class="author">
                        	<div class="name">作者:尼罗河</div>
                            <div class="time">时间:2015.10.17</div>
                        </div>
                        <div class="browse">当强烈意识到生活状态的失衡,迫切希望通过出去走走改变难以压抑的郁火</div>
                    </div>
                </li>
                <div class="border"></div>
                <li>
                	<div class="left"><img src="images/photo17.jpg" width="90" /></div>
                    <div class="right">
                    	<div class="title">清迈的色，拜县的狂—两妞儿</div>
                        <div class="author">
                        	<div class="name">作者:尼罗河</div>
                            <div class="time">时间:2015.10.17</div>
                        </div>
                        <div class="browse">当强烈意识到生活状态的失衡,迫切希望通过出去走走改变难以压抑的郁火</div>
                    </div>
                </li>
                <div class="border"></div>
            </ul>
        </div>
    </div>
    <div class="footer">
    	<div class="border">
        	<ul class="menu">
            	<li class="frist"><a href="#"><img src="images/bnav1.jpg" width="78" /><a></li>
                <li><a href="#"><img src="images/bnav2.jpg" width="80" /><a></li>
                <li><a href="#"><img src="images/bnav3.jpg" width="80" /><a></li>
                <li><a href="#"><img src="images/bnav4.jpg" width="79" /><a></li>
            </ul>
        </div>
        <ul class="bottom">
        	<a href="#"><li>隐私政策</li></a>
            <a href="#"><li>我的帐户</li></a>
            <a href="#"><li>常见问题</li></a>
        </ul>
        <div class="copyright">版权所有@2012-2015&nbsp;SQDISH&nbsp;RIPPLE&nbsp;CO</div>
    </div>
</body>
</html>
