<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>文章详细</title>
<link href="css/wenzhangxiangxi.css" rel="stylesheet" type="text/css" />
<script src="js/jq.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
	<div class="header">
    	<a href="#"><div class="return"></div></a>
        <a href="#"><div class="lookup"></div></a>
        <div class="logo"></div>     
    </div>
    <div class="topnav">
    	<ul class="nav">
        	<li class="frist"><a href="#"><p>首页</p></a></li>
            <li><a href="#"><p>榜单</p></a></li>
            <li><a href="#"><p>首页</p></a></li>
            <li><a href="#"><p>榜单</p></a></li>
        </ul>
    </div>
    <div class="banner"><img src="images/banner4.jpg" width="100%" /></div>
    <div class="main">
    	<div class="mainnav">
        	<ul class="nav">
            	<li class="frist"><a href="#">热门话题</a></li>
                <li><a href="#">最新文章</a></li>
                <li><a href="#">最新活动</a></li>
                <li><a href="#">最新活动</a></li>
            </ul>
        </div>
        <div class="title">最脆弱的也是最坚韧的</div>
        <div class="authorbg">
        	<div class="position">
            	<div class="author">BY&nbsp;<span>陈池</span></div>
            	<div class="num">已有<span>66666</span>人阅读</div>
            </div>
        </div>
        <div class="content">
        	<div class="pic"><img src="images/banner5.jpg" width="100%" /></div>
        	<div class="article">&nbsp;&nbsp;&nbsp;&nbsp;早晨，从慵懒中醒来随手拿起手机，立即被震惊了，巴黎被恐怖分子攻击的消息占据了整个朋友圈。这是11月14日，周六的早晨，巴黎的惨剧发生在头一天晚上，2015年11月13日，成为了一个黑色的日子。<br /><br />我在上海的家里，看着从窗帘缝中透过来的一丝阳光发怔。家人还在熟睡中，他们还不知道在这一夜，他们的祖国经历了怎样一个惨烈的晚上。在足球场，在音乐厅，在餐厅和大街上，在人类最平和地享受美好生活的周末，杀戮突入其来，一场中世纪的黑暗对现代文明的战争开始了。<br /><br />
 所有的美好在暴力面前变得那么脆弱，像花朵被摧残。我被拽入巨大的悲伤和愤怒中，那一瞬间，我意识到，法国于我，不仅是孩子们的国籍，不仅是另一个家的所在地，多年来，它已经成为我生活的一部分，是我的另一个精神故乡。<br /><br />维拉带给村子的药，被村民们珍惜地锁起来，她再三告诉他们这是要用来治病的也没有用，直到所有的药都过期了。她一次又一次地对那些年纪轻轻就一堆孩子的女子们说要避孕，她们很服从，说是的，妈妈。等到下一次见到时，总是又多出一个孩子来。<br /><br />这些刚果人，他们其实是懒于改变的，白人们的好心意，他们领了，可他们仍然喜欢过旧的日子。维拉说，他们真是从来不愁的，那些孩子，没有一个不是笑的。他们就唱啊，跳啊，穷着，开心着。维拉改变不了村民们对广藿香的态度，于是她请他们到家里来度假，她成为这些人非常热爱的妈妈。<br /><br />这就是法国遵循的价值观，这就是巴黎人。巴黎是这样的城市，它不是造梦的地方，它不造就美国式的成功和英雄。但它包容，让我们学会爱，学会思考，学会寻找个体生命的意义，学会对他人的尊重。
 			</div>
 		</div>
        <div class="next">
        	下一篇：食器新闻标题展示
        	<div class="left"><img src="images/zuo1.png"  width="28"/></div>
            <div class="right"><img src="images/you1.png" width="28" /></div>
        </div>
    </div>
    <div class="bottom1">
    	<div class="recommend">
        	<div class="books"><img src="images/books.jpg" width="13" /></div>
            <div class="hot">当季热门文章</div>
            <div class="tips">榜单数据均为“sqdish”点餐厅菜单服务项目真实点餐而来<br />我们的泰国小伙儿正在为您努力！</div>
            <div class="show">
            	<div class="top">
                	<div class="left">清迈之旅</div>
                    <div class="right">背包客精选</div>
                </div>
                <div class="bot">
                	<div class="left">泰国小清新</div>
                    <div class="right">首次去台湾</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer">
    	<div class="border">
        	<ul class="menu">
            	<li class="frist"><a href="#"><img src="images/bnav1.jpg" width="78" /><a></li>
                <li><a href="#"><img src="images/bnav2.jpg" width="80" /><a></li>
                <li><a href="#"><img src="images/bnav3.jpg" width="80" /><a></li>
                <li><a href="#"><img src="images/bnav4.jpg" width="79" /><a></li>
            </ul>
        </div>
        <ul class="bottom">
        	<a href="#"><li>隐私政策</li></a>
            <a href="#"><li>我的帐户</li></a>
            <a href="#"><li>常见问题</li></a>
        </ul>
        <div class="copyright">版权所有@2012-2015&nbsp;SQDISH&nbsp;RIPPLE&nbsp;CO</div>
    </div>
</body>
</html>
