<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商户详情</title>
<link href="css/shanghuxiangqing.css" rel="stylesheet" type="text/css" />
<script src="js/jq.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
	<div class="header">
		<div class="menu">
        	<div class="nav"></div>
            <a class="icon" href="#"></a>
        	<a class="log" href="#"></a>
        </div>
        <div class="topnav">
            <div class="place">Ong&nbsp;Tong&nbsp;Noodle</div>
            <ul class="list">
                <a href="#"><li class="one">地址:珞瑜路融科中心95号<span></span></li></a>
                <a href="#"><li class="two">联系电话:13972749948&nbsp;&nbsp;林先生<span></span></li></a>
                <a href="#"><li class="three">更多菜单<span></span></li></a>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="main">
    	<div class="about">
        	<div class="star"></div>
            <div class="sales">月售528单</div>
            <div class="collection" id="collection"></div>
        </div>
        <ul class="prices">
        	<li><p class="num">￥20</p><br /><p>起送价</p></li>
            <li><p class="num">￥5</p><br /><p>配送费</p><div></div></li>
            <li><p class="num">30分钟</h2></p><br /><p>平均配送时常</p><div></div></li>
        </ul>
    	<div class="border"></div>
    	<div class="business">配送时间：10:00-20:00</div>
        <div class="border"></div>
        <div class="recommend">
        	<p class="anli">推荐菜</p>
        	<ul class="food">
            	<li>
                	<div class="pic"><img src="images/photo5.jpg" /></div>
                    <div class="title"><p>腊味煲仔饭(เนื้อและข้าวอบหม้อดิน)</p><span>￥</span><p class="price">53</p></div>
                    <div class="star"><img src="images/img-2.jpg" />528</div>
                    <div class="profiles">你不仅可以吃到泰国特色菜，还能吃到各 种美味的中国美食...</div>
                </li>
                <li>
                	<div class="pic"><img src="images/photo6.jpg" /></div>
                    <div class="title"><p>下午茶(น้ำชายามบ่าย)</p><span>￥</span><p class="price">20</p></div>
                    <div class="star"><img src="images/img-2.jpg" />28</div>
                    <div class="profiles">你不仅可以吃到泰国特色菜，还能吃到各 种美味的中国美食...</div>
                </li>
                <li>
                	<div class="pic"><img src="images/photo5.jpg" /></div>
                    <div class="title"><p>腊味煲仔饭(เนื้อและข้าวอบหม้อดิน)</p><span>￥</span><p class="price">53</p></div>
                    <div class="star"><img src="images/img-2.jpg" />528</div>
                    <div class="profiles">你不仅可以吃到泰国特色菜，还能吃到各 种美味的中国美食...</div>
                </li>
                <li>
                	<div class="pic"><img src="images/photo6.jpg" /></div>
                    <div class="title"><p>下午茶(น้ำชายามบ่าย)</p><span>￥</span><p class="price">20</p></div>
                    <div class="star"><img src="images/img-2.jpg" />28</div>
                    <div class="profiles">你不仅可以吃到泰国特色菜，还能吃到各 种美味的中国美食...</div>
                </li>
                <li>
                	<div class="pic"><img src="images/photo5.jpg" /></div>
                    <div class="title"><p>腊味煲仔饭(เนื้อและข้าวอบหม้อดิน)</p><span>￥</span><p class="price">53</p></div>
                    <div class="star"><img src="images/img-2.jpg" />528</div>
                    <div class="profiles">你不仅可以吃到泰国特色菜，还能吃到各 种美味的中国美食...</div>
                </li>
                <li>
                	<div class="pic"><img src="images/photo6.jpg" /></div>
                    <div class="title"><p>下午茶(น้ำชายามบ่าย)</p><span>￥</span><p class="price">20</p></div>
                    <div class="star"><img src="images/img-2.jpg" />28</div>
                    <div class="profiles">你不仅可以吃到泰国特色菜，还能吃到各 种美味的中国美食...</div>
                </li>
                <li>
                	<div class="pic"><img src="images/photo5.jpg" /></div>
                    <div class="title"><p>腊味煲仔饭(เนื้อและข้าวอบหม้อดิน)</p><span>￥</span><p class="price">53</p></div>
                    <div class="star"><img src="images/img-2.jpg" />528</div>
                    <div class="profiles">你不仅可以吃到泰国特色菜，还能吃到各 种美味的中国美食...</div>
                </li>
                <li>
                	<div class="pic"><img src="images/photo6.jpg" /></div>
                    <div class="title"><p>下午茶(น้ำชายามบ่าย)</p><span>￥</span><p class="price">20</p></div>
                    <div class="star"><img src="images/img-2.jpg" />28</div>
                    <div class="profiles">你不仅可以吃到泰国特色菜，还能吃到各 种美味的中国美食...</div>
                </li>
                <li>
                	<div class="pic"><img src="images/photo5.jpg" /></div>
                    <div class="title"><p>腊味煲仔饭(เนื้อและข้าวอบหม้อดิน)</p><span>￥</span><p class="price">53</p></div>
                    <div class="star"><img src="images/img-2.jpg" />528</div>
                    <div class="profiles">你不仅可以吃到泰国特色菜，还能吃到各 种美味的中国美食...</div>
                </li>
                <li>
                	<div class="pic"><img src="images/photo6.jpg" /></div>
                    <div class="title"><p>下午茶(น้ำชายามบ่าย)</p><span>￥</span><p class="price">20</p></div>
                    <div class="star"><img src="images/img-2.jpg" />28</div>
                    <div class="profiles">你不仅可以吃到泰国特色菜，还能吃到各 种美味的中国美食...</div>
                </li>
            </ul>
        </div>
        <div class="border"></div>
        <div class="announcement">
        	<div class="title">活动公告</div>
            <div class="profiles">你不仅可以吃到泰国特色菜，还能吃到各种美味的中国 美食。皇冠虾球欧洲牛肉披萨一份、浓情烤翅（6只装） 一份、鸡茸蘑菇汤一份。你不仅可以吃到泰国特色菜，还能吃到各种美味的中国 美食。皇冠虾球欧洲牛肉披萨一份、浓情烤翅（6只装） 一份、鸡茸蘑菇汤一份。你不仅可以吃到泰国特色菜，还能吃到</div>
        </div>
        <div class="border"></div>
        <div class="evaluation">
        	<div class="title">客户评价</div>
            <ul class="list">
            	<li>
                	<div class="position">
                    	<div class="clear"></div>
                		<div class="profiles">材料很新鲜，肉的口感也很好，客服小杨的态度不错， 给个赞~\(≧▽≦)/~</div>
                        <div class="photo1"><img src="images/photo7.jpg" /></div>
                        <div class="photo2"><img src="images/photo8.jpg" /></div>
                        <div class="clear"></div>
                        <div class="photo3"><img src="images/photo9.jpg" /></div>
                        <div class="photo4"></div>
                    </div>
                </li>
                <li>
                	<div class="position">
                		<div class="profiles">材料很新鲜，肉的口感也很好，客服小杨的态度不错， 给个赞~\(≧▽≦)/~</div>
                        <div class="photo1"><img src="images/photo10.jpg" /></div>
                        <div class="photo2"><img src="images/photo11.jpg" /></div>
                        <div class="clear"></div>
                        <div class="photo3"><img src="images/photo13.jpg" /></div>
                        <div class="photo4"><img src="images/photo12.jpg" /></div>
                    </div>
                </li>
                <li>
                	<div class="position">
                		<div class="profiles">材料很新鲜，肉的口感也很好，客服小杨的态度不错， 给个赞~\(≧▽≦)/~</div>
                        <div class="photo1"><img src="images/photo14.jpg" /></div>
                        <div class="photo2"></div>
                        <div class="photo3"></div>
                        <div class="photo4"></div>
                    </div>
                </li>                
            </ul>
        </div>
        <div class="border"></div>
        <ul class="bottom">
        	<li>
            	<div class="titlefrist">商户展示</div>
                <div class="pic"><img src="images/pic5.jpg" /></div>
            </li>
            <li>
            	<div class="title">门店/招牌</div>
                <div class="pic"><img src="images/pic6.jpg" /></div>
            </li>
            <li>
            	<div class="title">食品展示</div>
                <div class="pic"><img src="images/pic7.jpg" /></div>
            </li>
            <li class="last">
            	<div class="title">室内装修展示</div>
                <div class="pic"><img src="images/pic8.jpg" /></div>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="footer">
    	<ul>
        	<li><a href="index.html"><img src="images/footer1.jpg" /></a></li>
            <li><a href="#"><img src="images/footer2.jpg" /></a></li>
            <li><a href="#"><img src="images/footer3.jpg" /></a></li>
        </ul>
    </div>
</body>
<script>
$("#collection").click(function(){
	$(this).toggleClass("img02");
	});
</script>
</html>
