<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>食器</title>
<link href="css/index.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<script language="javascript">
var ss;
window.onload=function()
{
var w=document.documentElement.clientWidth ;//可见区域宽度
var h=document.documentElement.clientHeight;//可见区域高度
ss=document.getElementById('header');
//alert(w);
ss.style.width=w+"px";
ss.style.height=h+"px";
}
</script>
<body>
	<div class="header" id="header">
		<div class="menu">
        	<div class="nav"></div>
            <a class="icon" href="#"></a>
        	<a class="log" href="#"></a>
        </div>
        <div class="topnav">
            <div class="place">清迈(เชียงใหม่)</div>
            <input class="text" type="text" placeholder="输入关键字进行查找"/>
            <ul class="list">
                <a href="#"><li class="one">榜单推荐<span></span></li></a>
                <a href="#"><li class="two">位置服务<span></span></li></a>
                <a href="#"><li class="four">印记<span></span></li></a>
            </ul>
        </div>
		<div class="btn_scoll_c" id="btn_bottom">
		<span></span>
		<br>
		<cite style="display: none;">点击开启</cite>
		</div>
    </div>
    <div class="main">
    	<div class="title">
        	<div class="left"></div>
            <div class="right"></div>
        </div>
    	<ul class="menu">
        	<li>
            	<div class="picture"><img src="images/photo.jpg" style="width:100%" /></div>
                <div class="scores">Aroon(Rai)&nbsp;Restaurant</div>
                <div class="synopsis">该4星级公寓酒店靠近清迈艺术文化中心和清迈国家公寓<br />酒店靠近公寓酒店靠近博物馆</div>
            </li>
            <li>
            	<div class="picture"><img src="images/photo3.jpg" style="width:100%" /></div>
                <div class="scores">Aroon(Rai)&nbsp;Restaurant</div>
                <div class="synopsis">该4星级公寓酒店靠近清迈艺术文化中心和清迈国家公寓<br />酒店靠近公寓酒店靠近博物馆</div>
            </li>
            <li>
            	<div class="picture"><img src="images/photo2.jpg" style="width:100%" /></div>
                <div class="scores">Aroon(Rai)&nbsp;Restaurant</div>
                <div class="synopsis">该4星级公寓酒店靠近清迈艺术文化中心和清迈国家公寓<br />酒店靠近公寓酒店靠近博物馆</div>
            </li>
            <li>
            	<div class="picture"><img src="images/photo4.jpg" style="width:100%" /></div>
                <div class="scores">Aroon(Rai)&nbsp;Restaurant</div>
                <div class="synopsis">该4星级公寓酒店靠近清迈艺术文化中心和清迈国家公寓<br />酒店靠近公寓酒店靠近博物馆</div>
            </li>
        </ul>
        <div class="titlemid">
        	<div class="left"></div>
            <div class="right"></div>
        </div>
        <ul class="impression">
        	<li>
                <div class="picture"><img src="images/pic1.jpg" style="width:100%" /></div>
                <div class="subtitle"><img src="images/tubiao.jpg" /><p>湄公河上风情浪漫的明珠</p></div>
                <div class="clear"></div>
                <div class="synopsis">当强烈意识到生活状态的失衡,迫切希望通过出去走走<br />
                    改变难以压抑的郁火泰戈尔曾说过&nbsp;我曾在百种形象...<br /><br />
                    <span>21 May, 2015  LatestEvents</span>
                </div>
            </li>
            <li>
                <div class="picture"><img src="images/pic2.jpg" style="width:100%" /></div>
                <div class="subtitle"><img src="images/tubiao.jpg" /><p>湄公河上风情浪漫的明珠</p></div>
                <div class="clear"></div>
                <div class="synopsis">当强烈意识到生活状态的失衡,迫切希望通过出去走走<br />
                    改变难以压抑的郁火泰戈尔曾说过&nbsp;我曾在百种形象...<br /><br />
                    <span>21 May, 2015  LatestEvents</span>
                </div>
            </li>
            <li>
                <div class="picture"><img src="images/pic3.jpg" style="width:100%" /></div>
                <div class="subtitle"><img src="images/tubiao.jpg" /><p>湄公河上风情浪漫的明珠</p></div>
                <div class="clear"></div>
                <div class="synopsis">当强烈意识到生活状态的失衡,迫切希望通过出去走走<br />
                    改变难以压抑的郁火泰戈尔曾说过&nbsp;我曾在百种形象...<br /><br />
                    <span>21 May, 2015  LatestEvents</span>
                </div>
            </li>
            <li>
                <div class="picture"><img src="images/pic4.jpg" style="width:100%" /></div>
                <div class="subtitle"><img src="images/tubiao.jpg" /><p>湄公河上风情浪漫的明珠</p></div>
                <div class="clear"></div>
                <div class="synopsis">当强烈意识到生活状态的失衡,迫切希望通过出去走走<br />
                    改变难以压抑的郁火泰戈尔曾说过&nbsp;我曾在百种形象...<br /><br />
                    <span>21 May, 2015  LatestEvents</span>
                </div>
            </li>
            <li>
                <div class="picture"><img src="images/pic3.jpg" style="width:100%" /></div>
                <div class="subtitle"><img src="images/tubiao.jpg" /><p>湄公河上风情浪漫的明珠</p></div>
                <div class="clear"></div>
                <div class="synopsis">当强烈意识到生活状态的失衡,迫切希望通过出去走走<br />
                    改变难以压抑的郁火泰戈尔曾说过&nbsp;我曾在百种形象...<br /><br />
                    <span>21 May, 2015  LatestEvents</span>
                </div>
            </li>
        </ul>
        <div><img src="images/bottompic.jpg" / style="width:100%"></div>
        <div><img src="images/surprised.jpg" / style="width:100%"></div>
    </div>
    <div class="footer">
    	<div class="border">
        	<ul class="menu">
            	<li class="frist"><a href="#"><img src="images/bnav1.jpg"/><a></li>
                <li><a href="#"><img src="images/bnav2.jpg"/><a></li>
                <li><a href="#"><img src="images/bnav3.jpg"/><a></li>
                <li><a href="#"><img src="images/bnav4.jpg"/><a></li>
            </ul>
        </div>
        <ul class="bottom">
        	<a href="#"><li>隐私政策</li></a>
            <a href="#"><li>我的帐户</li></a>
            <a href="../css/bangzhuxiangqing.css"><li>常见问题</li></a>
        </ul>
        <div class="copyright">版权所有@2012-2015&nbsp;SQDISH&nbsp;RIPPLE&nbsp;CO</div>
    </div>
</body>
</html>
