
.sqBgColor {
	background:#eda128;
}
.psswordform {
	padding:5% 2%;
}
.psswordform input, .am-form input[type=text], .am-form input[type=password] {
	padding:3%;
	font-size:2rem;
}
.am-form-group input[type=submit]{
	padding:10% 0;
}
.psswordform p a{
	color:#333;
	font-size:2rem;
}
.sqRegQuick {
	background:#fff;
	border:1px solid #eda128;
	color:#eda128;
}
.fl{
	float:left;
}
.size{
	width:72%;
}
.size1{
	width:25%;
	margin-left:3%;
}
.psswordform p{
	font-size:2rem;
	color:#333;
	margin-left:20px;
}
.psswordform span{
	color:#eda128;
}
