ul li {
	list-style:none;
	display:inline;
}
.sqBgColor {
	background:#eda128;
}

.successful ul li {
	width:100%;
	float:left;
	text-align:center;
	line-height:px;
	padding:1% 0;
	font-size:2.5rem;
	color:#666666;
}
.successful img {
	padding:5% 0;
}
.successful span{
	font-size:2rem;
	color:#999999;
}
.successful img{padding-right:2%;}
.h{ overflow:hidden;}