a{color:#000; }

*{ font-family:"微软雅黑"}

ul{ list-style:none; display:block; padding:0;}

.sqBgColor {background:#eda128;}

.sqBgColor a{ color:#FFF;}

.lan{height:10px; background:#f5f5f5;}

.am-menu-dropdown1 .am-menu-nav>li>a{ background:#eda128; border-bottom:#fff;width:20%;float:right; font-size:1rem;}

.am-menu-dropdown1 .am-menu-nav>li{ margin:1px 0;}

.am-menu-dropdown1 .am-menu-nav{ right:-10px}

[data-am-widget=tabs]{ margin:0;}

[data-am-widget=tabs] .am-tabs-nav{ padding:1rem 0;}

a:focus, a:hover{ color:#eda128;}

.am-tabs-nav{ background:url(../bg/bgline.png) no-repeat center;}

.am-list-news-hd h2{ height:4rem; font-size:2rem; }

.am-list-item-hd{ font-size:2rem;}

.am-list-item-text{ font-size:2rem;}

.am-list-item-hd span{ float:right;}

.am-btn{ float:right; background:#fff; border:#eda128 1px solid; border-radius:5px; margin-right:1rem;}

.am-btn:focus, .am-btn:hover{color: #eda128;text-decoration: none;}

.am-footer-default{margin-bottom:20px}

.am-footer-default .am-footer-switch{ margin-bottom:20px}

.am-footer .am-footer-ysp:hover{ color:#eda128;}