<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SQdish食器-消息管理</title>
    
	<meta name="keywords" content="">
		<meta name="description" content="">
      <link rel="stylesheet" href="../assets/css/amazeui.min.css">
  <link href="../theme/css/style.css" type="text/css" rel="stylesheet" />
    <link href="../theme/css/sqStyle.css" type="text/css" rel="stylesheet" />
    <link  href="../theme/css/xq.css" type="text/css" rel="stylesheet" />
   <script type="text/javascript" src="../theme/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../theme/js/jquery.tools.min.js"></script>
    <script type="text/javascript" src="../theme/js/ciads.js"></script>
</head>
<body>
<div class="header">
    <div class="wrap clear">
        <h1 class="logo fl"><a href="#"></a>
        
        </h1>
        <div class="nav fl">
            <ul class="lifl clear">
                <li class="li1"><a href="/"><span class="s1">首页</span><span class="s2">home</span><span class="s4"></span></a></li>
                <li class="li2"><a href="#"><span class="s1">榜单推荐</span><span class="s2">Recommend</span><span class="s4"></span></a></li>
                <li class="li3"><a href="#"><span class="s3"></span><span class="s4"></span></a></li>
                <li class="li4"><a href="#"><span class="s1">优惠劵</span><span class="s2">coupon</span><span class="s4"></span></a></li>
                <li class="li5"><a href="#"><span class="s1">心愿单</span><span class="s2">wish list</span><span class="s4"></span></a></li>
                <li class="li6"><a href="article_list.php"><span class="s1">印记</span><span class="s2">marking</span><span class="s4"></span></a></li>
                <li class="li7">
                    <input class="ssk" type="text" value="输入关键字进行查找"/>
                    <input class="btn" type="button"/>
                </li>
            </ul>

        </div>
    </div>
</div>
<div class="city1">
    <div class="city wrap">
        <ol class="am-breadcrumb am-breadcrumb-slash Breadcrumb">
         <span><i class="am-icon-map-marker am-icon-sm"></i> </span>
           <li><a href="#">首页</a></li>
                <li><a href="#">个人中心</a></li>
           <li><a href="#">交易管理</a></li>
             <li class="color">已购买商品</li>
         
         <div class="name">
          <li class="am-dropdown" data-am-dropdown>
          
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;" style="color:#eda129;">
          吃货小胖88 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content down">
          <li><a href="#"><span class="am-icon-user am-margin-left-md"></span> 个人中心</a></li>
          <li><a href="#"><span class="am-icon-star am-margin-left-md"></span> 我的收藏</a></li>
          <li><a href="#"><span class="am-icon-file am-margin-left-md"></span> 我的订单</a></li>
          <li><a href="#"><span class="am-icon-cny am-margin-left-md"></span> 我的优惠券</a></li>
          <li><a href="#"><span class="am-icon-cog am-margin-left-md"></span> 账号设置</a></li>
          <li><a href="#"><span class="am-icon-sign-out am-margin-left-md"></span> 注销
          </a></li>
          
        </ul>
      </li>
         </div>
         </ol>
    </div>
</div>

<div class="am-g am-u-md-centered content">
        <div class="am-u-md-2 dh">
     <div class="am-g">
      <ul class="am-list">
        <li><a href="#"><span class="am-icon-user am-margin-left-md"></span> 个人中心</a></li>
        <li><a href="#"><span class="am-icon-cog am-margin-left-md"></span> 账号设置</a></li>
        <li>
          <a href="#" class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-balance-scale am-margin-left-md "></span> 交易管理<span class="am-icon-angle-right am-fr am-margin-right" style="margin-top:5px;"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" style="margin-top:0; background:#FFF;" id="collapse-nav">
            <li class="nav1" style=" margin-bottom:0;"><a href="#"> 我的订单</a></li>
            <li class="nav1" style=" margin-bottom:0;"><a href="#"> 我的评价</a></li>
            <li class="nav1" style=" margin-bottom:0;"><a href="#"> 我的收藏</a></li>
             <li class="nav1" style=" margin-bottom:0;"><a href="#"> 我的购物车</a></li>
            <li class="nav1" style=" margin-bottom:0;"><a href="#"> 我的优惠券</a></li>
          </ul>
        </li>
        <li><a href="Message Management.html"><span class="am-icon-envelope am-margin-left-md"></span> 系统消息</a></li>
      </ul>
 </div>
  </div>
     
     
      <div class="am-u-md-10">
  <div class="am-g"> 
  <div class="am-u-md-12" style=" margin-bottom:65px;">
        <div class="am-g" style="margin-left:20px; border-bottom:#CCC 2px solid;">
       <div class="am-panel-hd">
       <strong class="size">订单详情</strong>
            <a href="#" class="hover">返回我的订单</a>
            </div>
    </div>
        
        <div class="am-g" style="margin-left:20px; margin-top:20px;">
        <div class="panel am-panel-default">
  <div class="am-panel-hd"><strong>订单信息</strong></div>
  <div class="am-panel-bd">
    <div class="am-u-md-12">
        <div class="am-u-md-3 text">
        店铺：<a href="#">Ong Tong Noodle</a>
        </div>
        <div class="am-u-md-3 text">
        订单编号：<a href="#">123456789</a>
        </div>
        <div class="am-u-md-3 text">
        下单时间：<span>2015-12-12</span>
        </div>
        <div class="am-u-md-3 text">
        当前状态：<span>已付款</span>
        </div>
    </div>
  </div>
</div>

<section class="am-panel-default">
  <div class="am-panel-hd">
    <strong>商品信息</strong>
  </div>
  
    <table class="am-table panel">
        <thead>
        <tr>
            <th>商品项目</th>
            <th>单价</th>
            <th>数量</th>
             <th>支付金额</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>肉沫血汤粉条</td>
            <td>￥20</td>
            <td>2</td>
            <td>￥40</td>
        </tr>
        <tr>
            <td>肉沫血汤粉条</td>
            <td>￥20</td>
            <td>2</td>
            <td>￥40</td>
        </tr>
    </tbody>
  </table>
  
</section>
  </div>      
   </div>
   </div>
  
</div>
</div>
</div>
</div>

<!--<div class="footer">
    <div class="wrap">
        <span class="s1">
            <a class="a1" href="#">品牌酒店 </a>
            <a href="#">清迈艾美酒店</a>
            <a href="#">清迈香格里拉酒店</a>
            <a href="#">清迈美居酒店</a>
            <a href="#">清迈智选假日酒店 </a>
            <a href="#">清迈宜必思酒店</a>
            <br>
            <a class="a1" href="#">热门国家 </a>
            <a href="#">美国</a>
            <a href="#">韩国</a>
            <a href="#">泰国</a>
            <a href="#">日本</a>
            <a href="#">法国</a>
            <a href="#">澳大利亚</a>
            <a href="#">加拿大</a>
            <a href="#">马尔代夫</a>
            <a href="#">印度</a>
            <a href="#">马来西亚</a>
            <a href="#">西班牙</a>
            <a href="#">瑞士</a>
            <a href="#">荷兰</a>
            <a href="#">英国</a>
            <a href="#">德国</a>
            <a href="#">意大利</a>
            <a href="#">希腊</a>
            <a href="#">俄罗斯</a>
            <a href="#">墨西哥</a>
              <br>
            <a class="a1" href="#">热门城市</a>
            <a href="#">东京</a>
            <a href="#">曼谷</a>
            <a href="#">首尔</a>
            <a href="#">新加坡</a>
            <a href="#">普吉岛</a>
            <a href="#">大阪</a>
            <a href="#">清迈</a>
            <a href="#">拉斯维加斯</a>
            <a href="#">巴黎</a>
            <a href="#">苏梅岛</a>
            <a href="#">纽约</a>
            <a href="#">长滩岛</a>
            <a href="#">吉隆坡</a>
            <a href="#">伦敦</a>
            <a href="#">墨尔本</a>
            <a href="#">济州岛</a>
            <a href="#">洛杉矶</a>
            <a href="#">塞班岛</a>
        </span>
    </div>
</div>-->
<div class="footer2">
    <div class="wrap">
        <span class="s1">
            <a href="#">关于食器</a><span>丨</span>
            <a href="#">隐私政策</a><span>丨</span>
            <a href="#">服务条款</a><span>丨</span>
            <a href="#">我的账户</a><span>丨</span>
            <a href="#">客户服务</a><span>丨</span>
            <a href="#">常见问题</a><span>丨</span>
            <a href="#">联系我们</a>
        </span>
    </div>
</div>
<div class="footer3">
    <div class="wrap">
        <span class="s1">
            版权所有@2012-2015 SQDISH RIPPLE CO.,LTD ALL RIGHTS RESERVED<br>
            DESIGN & CODING BY Sanho Tec / 滇ICP备11010228号<br>
            HTTP://WWW.SQDISH.COM
        </span>
       <span class="s2">
            <ul class="lifl">
                <li><a href="#"><img src="../theme/bg/zfb.png" alt=""/></a></li>
                <li><a href="#"><img src="../theme/bg/wx1.png"alt=""/></a></li>
                <li><a href="#"><img src="../theme/bg/wx.png" alt=""/></a></li>
                <li><a href="#"><img src="../theme/bg/qq.png" alt=""/></a></li>
                <li><a href="#"><img src="../theme/bg/wb.png" alt=""/></a></li>
            </ul>
        </span>
    </div>
</div>


<script src="../assets/js/jquery.min.js"></script>

<script src="../assets/js/amazeui.min.js"></script>
</body>
</html>