<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>文章列表</title>
<link href="/templates/wap/css/wenzhangliebiao.css" rel="stylesheet" type="text/css" />
<link href="templates/wap/css/wenzhangxiangxi.css" rel="stylesheet" type="text/css" />
<script src="/templates/wap/js/jq.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
	<div class="header" style="text-align: center;">
    	<a href="index.php"><div class="return"></div></a>
        <input type="text" id="search" style="display: none;height:30px;width:200px;background: transparent;border: 0px;margin-top:8px;text-align:center;border-bottom: 1px solid #ccc" placeholder="请输入关键字进行搜索" />
            <a href="#" ><div class="lookup" style="float:right"></div></a>
        <div class="logo"></div>     
    </div>
    
    <div class="topnav">
    	<ul class="nav">
        	<li class="frist"><a href="index.php"><p>首页</p></a></li>
            <li><a href="business_list.php"><p>榜单</p></a></li>
            <li><a href="article_list.php"><p>印记</p></a></li>
            <li><a href="user_index.php"><p>我的</p></a></li>
        </ul>
    </div>
    
    <div class="banner"><img src="/templates/wap/images/banner4.jpg" width="100%" /></div>
    <div class="main">
    	<div class="mainnav">
        	<ul class="nav">
            <?php foreach($CList as $v){ ?>
            	<li class="frist"><a href="article_list.php?tid=<?php echo $v['id'];?>" ><?php echo $v['categoryNameZ'];?></a></li>
            <?php }?>
            </ul>
        </div>
        <div class="article">
        	<ul class="list">
        <?php foreach($List as $v){?>
                        <a href="article_detail.php?tid=<?php echo $v['id'];?>">
            	<li>
                	<div class="left" style="margin-top: 15px;"><img src="<?php echo $v['articleThumb']; ?>" style= "min-height:50px;width:90px;" /></div>
                    <div class="right">
                    	<div class="title" style="line-height: 14px;padding:10px;"><?php echo $v['articleTitle']; ?></div>
                    </div>
                         <div class="author" >
                            <div class="name" style="float:left;margin-left: 10px;">作者:<?php echo $v['articleAuthor']; ?> </div>
                            <div class="time" style="float:right;margin-right: 10px;">时间:<?php  echo date('Y-m-d H:i:s',$v['addtime']) ; ?></div>
                        </div>
                </li>
                </a>
                <div class="border"></div>
          <?php }?>    
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="border">
            <ul class="menu">
                <li class="frist"><a href="login.php"><img src="/templates/wap/images/bnav1.jpg"/><a></li>
                <li><a href="register.php"><img src="/templates/wap/images/bnav2.jpg"/><a></li>
                <li><a href="index.php?port=pc"><img src="/templates/wap/images/bnav3.jpg"/><a></li>
                <li><a href="tel:053-275-062"><img src="/templates/wap/images/bnav4.jpg"/><a></li>
            </ul>
        </div>
        <ul class="bottom">
            <a href="templates/wap/privacy.html"><li>隐私政策</li></a>
            <?php if(!isset($_SESSION['user_info'])){?>
            <a href="/login.php"><li>我的帐户</li></a>
                    <?php } else {?>
              <a href="/user_index.php"><li>我的帐户</li></a>
                    <?php }?>
            <a href="templates/wap/help_detail.html"><li>常见问题</li></a>
        </ul>
        <div class="copyright">版权所有@2012-2015&nbsp;SQDISH&nbsp;RIPPLE&nbsp;CO</div>
    </div>
</body>
</html>
<script src="/templates/wap/js/jq.js" type="text/javascript"></script>
<script type="text/javascript">
    //搜索按钮
    $(".lookup").click(function(){
        if ($("#search").is(":hidden")) {
            $("#search").show();

        }else{
                  var key = $('#search').val();
                   if (key) {
                        location.href = "search.php?key="+key;
                   }else{
                        $('#search').hide();
                  }         
        }
    });
    $("#search").blur(function(){
                $(this).hide();
                $("#title").show();
    }); 
    </script>