
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo !empty($rt_name)?$rt_name:"食器推荐";?></title>
<link href="/templates/wap/css/index_new.css" rel="stylesheet" type="text/css" />
<script src="/templates/wap/js/jq.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
	<div class="menubg hidebg" id="caixils">
        <ul class="list" style="height:100%">
            <li ><a href="business_list.php">所有分类</a></li>
            <?php foreach($rtype as $v) {?>
            <li class="none"><a  href="business_list.php?rt_name=<?php echo $v['rt_name'];?>"><?php echo $v['rt_name']; ?></a></li>
            <?php }?>
        </ul>
        <div class="bg"></div>
    </div>
    <div class="paixu hidebg" id="znpxls">
        <ul class="list">
            <li class="chose"><a href="business_list.php?<?php echo !empty($rt_name)?'rt_name='.$rt_name:'';?>&act=is_rec">认证商户</a></li>
            <li class="chose"><a href="business_list.php?<?php echo !empty($rt_name)?'rt_name='.$rt_name:'';?>&act=online_pay">在线支付</a></li>
            <li class="chose"><a href="business_list.php?<?php echo !empty($rt_name)?'rt_name='.$rt_name:'';?>&act=click">人气最高</a></li>
            <li class="chose"><a href="business_list.php?<?php echo !empty($rt_name)?'rt_name='.$rt_name:'';?>&act=comment">口碑最好</a></li>
            <li class="chose"><a href="business_list.php?<?php echo !empty($rt_name)?'rt_name='.$rt_name:'';?>&act=closer">离我最近</a></li>
        </ul>
        <div class="bg"></div>
    </div>
	<div class="shjs">
        <div class="header2" style="text-align:center;">
            <a href="/"><div class="return"></div></a>
            <div id="title" class="title"><?php echo !empty($rt_name)?$rt_name:"食器推荐";?></div>
            <input type="text" id="search" style="display: none;height:30px;width:200px;background: transparent;border: 0px;margin-top:8px;text-align:center;border-bottom: 1px solid #ccc" placeholder="请输入关键字进行搜索" />
            <a href="#" ><div class="lookup" style="float:right"></div></a>
        </div>
        <div class="nav">
        	<div class="caixi" id="caixi">商户分类</div>
            <div class="district">全部商区</div>
            <div class="sort" id="znpx" >智能排序</div>
        </div>
        <div class="main">
            <ul class="list">
				<?php if(!empty($sellerList)){foreach($sellerList as $v){?>
                 <a href="business_detail.php?sid=<?php echo $v['id'];?>">
                    <li class="shanghu">
                        <div class="show">
                            <div class="pic"><img src="<?php echo $v['pic'];?>" width="70" height="70" /></div>
                            <div class="right">
                                <div class="title"><?=$v['sellerName']?></div>
                                <div class="mid">
                                        <img src="../templates/theme/bg/star<?php echo $v['star_avg'];?>.png">
                                    <div class="xiaoliang">热度<?php echo $v['click'];?></div>
                                </div>
                                <div class="manjian">营业时间：<?php echo $v['BH'];?></div>
                                <div class="time">35分钟</div>
                                <ul class="support">
									<?php if(!empty($v['ser_icon'])){foreach($v['ser_icon'] as $k){?>
									<li style="margin:5px 2px;"><img src="<?=$k?>" height="23" width="23"/></li>									
									<?php }}?>
                                </ul>
                            </div>
                        </div>
                    </li>
                </a>
                <div class="border"></div>
				<?php }?>
            </ul>
            <div class="clear"></div>
            <div class="load">
            	<div class="more" style="height:30px;"><img src="/templates/wap/images/load.png" width="11" /><p>加载更多</p></div>
            </div>
                <?php }else{?>
                </ul>
           <div class="clear"></div>
           <div class="load">
                <div class=""><p style="width:100%;text-align: center;">没有找到相应内容</p></div>
           </div>
            <?php }?>
        </div>
        <div class="footer">
            <div class="site">请允许设备获取GPS权限</div>
            <div class="reload"><img src="/templates/wap/images/reload.jpg" width="13" height="16" /></div>
        </div>
    </div>
    <input type="hidden" id="page" value="2" />
</body>
<script>
$(function(){

    $("#caixi").click(function(){
    	$("#caixils").toggleClass("hidebgshow");
    	});
    $("#znpx").click(function(){
    	$("#znpxls").toggleClass("hidebgshow");
    	});

    //加载更多
    $(".more").click(function(){
            var page = $("#page").val();
            var rt_name = "<?php echo $rt_name;?>";
        $.ajax({url:"ajax_more.php",
                     data:{  
                              page : page,
                              rt_name : rt_name
                        },  
                    type:'GET',
                    datatype:'json',
                    success:function(data){
                        var sellerList = $.parseJSON(data);
                       // $(".load").removeClass('load').addClass('main').empty();
                        for (var i = 0; i < sellerList.length; i++) {
                            if (sellerList[i].ser_icon) {
                                 var icon = getIcon(sellerList[i].ser_icon);
                             }else{
                                var icon = '';
                             }
                             $(".list").append('<a href="business_detail.php?sid='+sellerList[i].id+'"><li class="shanghu"><div class="show"><div class="pic"><img src='+sellerList[i].pic+' width="70" height="70" /></div><div class="right"><div class="title">'+sellerList[i].sellerName+'</div><div class="mid"><img src="../templates/theme/bg/star'+sellerList[i].star_avg+'.png"><div class="xiaoliang">热度'+sellerList[i].click+'</div></div><div class="manjian">营业时间：'+sellerList[i].BH+'</div><div class="time">35分钟</div><ul class="support">'+icon+'</ul></div></div></li></a><div class="border"></div>');
                        }
                        page++;
                        $("#page").val(page);
                    },
                    error:function(){
                        alert('请求失败');
                    }
                });
    });
    //栏目高亮
    var cat = "<?php echo $rt_name;?>";
    var chose = "<?php echo $act;?>";
    $(".none").each(function(){
     if($(this).text()==cat){
         $(this).addClass("this");
     }
    });
    switch(chose){
        case "is_rec":
        chose = "认证商户";
        break;
        case "online_pay":
        chose = "在线支付";
        break;
        case "click":
        chose = "人气最高";
        break;
        case "comment":
        chose = "口碑最好";
        break; 
        case "closer":
        chose = "离我最近";
        break;       
    }
    $(".chose").each(function(){
        if($(this).text()==chose){
            $(this).addClass("this");
        }
    });

    //搜索按钮
    $(".lookup").click(function(){
        if($("#title").is(":hidden")){
                   var key = $('#search').val();
                   if (key) {
                        location.href = "search.php?key="+key;
                   }else{
                        $('#search').hide();
                        $("#title").show();
                   }
        }else{
                    $("#title").hide();
                    $("#search").show();
        }
    });
    $("#search").blur(function(){
                $(this).hide();
                $("#title").show();
    });

    
});
//获取图标,返回字符串
function getIcon(icon){
    var htm = Array();
    for(var j=0;j<icon.length;j++){
        htm[j]= '<li style="margin:5px 2px;"><img src="'+icon[j]+'" height="23" width="23"/></li>';
    }
    return htm.join(" ");
}

</script>
</html>