<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>帮助详情</title>
<link href="css/bangzhuxiangqing.css" rel="stylesheet" type="text/css" />
  <link rel="alternate icon" type="image/png" href="/templates/images/favicon.png">
  <link rel="stylesheet" href="/templates/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/templates/theme/css/sqWapStyle.css"/>
  <link href="/templates/wap/css/index.css" rel="stylesheet" type="text/css" />
<script src="js/jq.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
</body>
	<header data-am-widget="header" class="am-header am-header-default sqBgColor">
    <div class="am-header-left am-header-nav">
        <a href="javascript:void(0)" onclick= "javascript :history.back(-1);"  class="">
            <i class="am-header-icon am-icon-chevron-left"style="margin-top:15px;"></i>
        </a>
      </div>
    <h1 class="am-header-title">
        常见问题
    </h1>
    <div class="am-header-right am-header-nav">
          <a href="/" class="">
              <span class="am-header-nav-title">
                首页
              </span> 
                <i class="am-header-icon am-icon-home"></i>
          </a>
      </div>
</header>
    <div class="banner">
    	<img src="images/banner.jpg" style="width:100%" />
    </div>
    <div class="main">
    	<ul class="mune">
        	<a href="#"><li class="frist">常见问题</li></a>
            <a href="#"><li>账户注册</li></a>
            <a href="#"><li>忘记密码</li></a>
        </ul>
        <div class="question">
        	<div class="title">常见问题</div>
            <ul>
            	<li>
                	<div class="Q">Q1：为什么输入的地址没有跳转，无法进行选餐？</div>
                    <div class="A">A1：输入地址后菜单没有跳转，且点击地址没有反应，是因为该地区尚未开通</div>
                </li>
                <li>
                	<div class="Q">Q2：为什么宣传单单单减6元，免外送费，但我的订单并没有减6元或免外送呢？</div>
                    <div class="A">A2：单单减6元是指在带有“减“字商户中订餐可以享受每天最多2次的订单；如果是当日第三单则不享有减免6元的优惠。免外送费是指在带有“免”字商户中订单可以享受减免外送费，且不受次数限定。</div>
                </li>
                <li>
                	<div class="Q">Q3：我需要注册才能订餐吗？</div>
                    <div class="A">A3：无需注册，只需要输入手机号获得动态码即可订餐，但更鼓励用户绑定手机号拥有个人账号，便于享有后续的积分及会员特权。</div>
                </li>
                <li>
                	<div class="Q">Q4：食器外卖接受电话订餐吗？</div>
                    <div class="A">A4：目前只接受网络订餐，暂不接受电话订餐。</div>
                </li>
                <li>
                	<div class="Q">Q5：下单之后怎么知道自己下单成功了？</div>
                    <div class="A">A5：下单后页面会显示下单成功，同时用户会收到下单确认信息，表示商户已接单。</div>
                </li>
                <li>
                	<div class="Q">Q6：怎样查询订餐时间？</div>
                    <div class="A">A6：下单成功后，订单信息将不可修改，如果您要取消订单请在【个人中心】-【我的订单】获取客服电话沟通，避免不必要的纠纷给您造成麻烦。</div>
                </li>
                <li>
                	<div class="Q">Q7：怎样知道外卖要多久送到？</div>
                    <div class="A">A7：可以参考下单餐厅给出的配送时间，如遇用餐高峰与恶劣天气等不可抗拒因素时，送餐时间将会延长，建议提前一至两个小时预定您的外卖，以便快递尽早为您送达。</div>
                </li>
                <li>
                	<div class="Q">Q8：人工沟通渠道有哪些？</div>
                    <div class="A">A8：1、客服电话：4000000000;<br />　　&nbsp;2、发邮件至WAIMIAN@SHIQI.com;<br />　　&nbsp;3、发送微信至食器外卖公众号;<br />　　&nbsp;4、加入QQ交流群：888888888</div>
                </li>
                <li>
                	<div class="Q">Q9：商户入驻的联系方式有哪些？</div>
                    <div class="A">A9：请发送邮件至WAIMIAN@SHIQI.com;</div>
                </li>
            </ul>
        </div>
        <div class="border"></div>
    </div>
<div class="footer">
        <div class="border">
            <ul class="menu">
                <li class="first"><a href="../../login.php"><img src="/templates/wap/images/bnav1.jpg"/><a></li>
                <li><a href="../../register.php"><img style="width:78px;" src="/templates/wap/images/bnav2.jpg"/><a></li>
                <li><a href="../../index.php?port=pc"><img style="width:78px;" src="/templates/wap/images/bnav3.jpg"/><a></li>
                <li><a href="tel:053-275-062"><img src="/templates/wap/images/bnav4.jpg"/ ><a></li>
            </ul>
        </div>
        <ul class="bottom">
            <a href="privacy.html"><li>隐私政策</li></a>
               <a href="/user_index.php"><li>我的帐户</li></a>
            <a href="help_detail.html"><li>常见问题</li></a>
        </ul>
        <div class="copyright">版权所有@2012-2015&nbsp;SQDISH&nbsp;RIPPLE&nbsp;CO</div>
    </div>
</html>
