<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>帮助列表</title>
<link href="css/bangzhuliebiao.css" rel="stylesheet" type="text/css" />
<script src="js/jq.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
	<div class="header">
    	<div class="logo"></div>
        <div class="mid">
        	<a href="#">
                <div class="locate">
                    <div class="icon"></div>
                    <div class="place">清迈</div>
                </div>
            </a>
            <input class="text" type="text" placeholder="输入关键字进行查找"/>
        </div>
        <a href="#"><div class="login">登录</div></a>
    </div>
    <div class="banner">
    	<img src="images/banner.jpg" style="width:100%" />
    </div>
    <div class="main">
    	<div class="dingdan">
        	<div class="title">热门板块</div>
            <ul>
            	<a href="#"><li class="left"><img src="images/dingdan1.jpg" style="width:3.25em; height:6em" /></li></a>
                <a href="#"><li><img src="images/dingdan2.jpg" style="width:3.25em; height:6em" /></li></a>
                <a href="#"><li class="left"><img src="images/dingdan3.jpg" style="width:3.25em; height:6em" /></li></a>
                <a href="#"><li><img src="images/dingdan4.jpg" style="width:3.25em; height:6em" /></li></a>
                <a href="#"><li class="left"><img src="images/dingdan3.jpg" style="width:3.25em; height:6em" /></li></a>
                <a href="#"><li><img src="images/dingdan4.jpg" style="width:3.25em; height:6em" /></li></a>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="border"></div>
        <div class="help">
        	<div class="title">热门板块<a href="帮助详情.html"><span>查看更多</span></a></div>
            <ul>
            	<a href="#"><li>①&nbsp;使用余额支付不了？</li></a>
                <a href="#"><li>②&nbsp;在线支付订单取消后，钱怎么返还？</li></a>
                <a href="#"><li>③&nbsp;账户里的款项怎么提现？</li></a>
                <a href="#"><li>④&nbsp;一个红包能拆开多次使用吗？</li></a>
                <a href="#"><li>⑤&nbsp;下单的时候使用了红包，后来订单取消了，红包还</li></a>
                <a href="#"><li>⑥&nbsp;账户里的款项怎么提现？</li></a>
                <a href="#"><li>⑦&nbsp;一个红包能拆开多次使用吗？</li></a>
                <a href="#"><li>⑧&nbsp;下单的时候使用了红包，后来订单取消了，红包吗？</li></a>
            </ul>
        </div>
        <div class="border"></div>
    </div>
    <div class="footer">
    	<div class="border">
        	<ul class="menu">
            	<li class="frist"><a href="#"><img src="images/bnav1.jpg" width="78" /><a></li>
                <li><a href="#"><img src="images/bnav2.jpg" width="80" /><a></li>
                <li><a href="#"><img src="images/bnav3.jpg" width="80" /><a></li>
                <li><a href="#"><img src="images/bnav4.jpg" width="79" /><a></li>
            </ul>
        </div>
        <ul class="bottom">
        	<a href="#"><li>隐私政策</li></a>
            <a href="#"><li>我的帐户</li></a>
            <a href="#"><li>常见问题</li></a>
        </ul>
        <div class="copyright">版权所有@2012-2015&nbsp;SQDISH&nbsp;RIPPLE&nbsp;CO</div>
    </div>
</body>
</html>