<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>随意点-菜单</title>
<link href="css/suiyidiancaidan.css" rel="stylesheet" type="text/css" />
<script src="js/jq.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
	<div class="header">
    	<a href="#"><div class="return"></div></a>
        <a href="#"><div class="lookup"></div></a>
        <div class="title"><div class="logo"></div><p>食器</p></div>        
    </div>
    <div  class="menu">
    	<div class="recommend">
        	<div class="push">食器推荐 2荤2素</div>
            <p class="prices">￥76.00<p>,4人,人均￥16</p></p>
        </div>
        <div class="check"></div>
    </div>
    <div class="main">
    	<ul class="list">
        	<li>
            	<div class="position">
                    <div class="pic"><img src="images/pic10.jpg" width="320" /></div>
                    <div class="title">
                        <p class="name">西冷牛排</p>
                        <p class="prices">￥36</p>
                    </div>
                    <p class="profiles">西冷牛排主要是由上腰部的脊肉构成，西冷牛排按质量的不同又可分为：小块西冷牛排，大块西冷...</p>
                </div>
            </li>
            <li>
            	<div class="position">
                    <div class="pic"><img src="images/pic11.jpg" width="320" /></div>
                    <div class="title">
                        <p class="name">意大利的crockpot鸡</p>
                        <p class="prices">￥27</p>
                    </div>
                    <p class="profiles">鸡胸脯，1包灿烂的意大利式沙拉酱调味，1 8盎司。奶油奶酪，2罐奶油鸡汤，库克在低4小...</p>
                </div>
            </li>
            <li>
            	<div class="position">
                    <div class="pic"><img src="images/pic10.jpg" width="320" /></div>
                    <div class="title">
                        <p class="name">西冷牛排</p>
                        <p class="prices">￥36</p>
                    </div>
                    <p class="profiles">西冷牛排主要是由上腰部的脊肉构成，西冷牛排按质量的不同又可分为：小块西冷牛排，大块西冷...</p>
                </div>
            </li>
            <li>
            	<div class="position">
                    <div class="pic"><img src="images/pic11.jpg" width="320" /></div>
                    <div class="title">
                        <p class="name">意大利的crockpot鸡</p>
                        <p class="prices">￥27</p>
                    </div>
                    <p class="profiles">鸡胸脯，1包灿烂的意大利式沙拉酱调味，1 8盎司。奶油奶酪，2罐奶油鸡汤，库克在低4小...</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="botnav">
    	<div class="position">
            <div class="logo"></div>
            <ul class="nav">
            	<li class="left"><img src="images/botnav1.jpg" width="94" /></li>
                <li class="mid"><img src="images/botnav2.jpg" width="94" /></li>
                <li class="right"><img src="images/botnav3.jpg" width="94" /></li>
            </ul>
        </div>
    </div>
    <div class="footer">
    	<ul>
        	<li><a href="index.html"><img src="images/footer1.jpg" /></a></li>
            <li><a href="#"><img src="images/footer2.jpg" /></a></li>
            <li><a href="#"><img src="images/footer3.jpg" /></a></li>
        </ul>
    </div>
</body>
</html>
