.content{max-width:1200px; margin-bottom:90px;font-family:Microsoft YaHei,LiHei Pro; display:block; overflow:hidden; margin-top:30px; padding:0 0;}
.dh{overflow:hidden;float:left;}
.name{  float:right;}
.name .color{ color:#eda129;}
.dh ul li a{ font-size:14px;color:#000;height:48px; line-height:24px; padding-left:20px;}
.dh ul li{ margin-bottom:18px}
.dh ul li:hover{ background:#eda129; border-radius:5px;}
.nav1{ padding-left:20px;}
.dh ul li a:hover{ color:#fff;}
.dh ul .nav1:hover{background:#FFF;}
.dh ul .nav1 a:hover{color:#eda129;}
.Breadcrumb a{ color:#000;}
.color{ color:#eda129;}
.user img{ width:120px; height:120px; border-radius:5px; float:right;}
.user p{ color:#CCC; font-size:14px;font-family:Microsoft YaHei,LiHei Pro;}
.user p span{ color:#000;}
.magin{padding-left:50px}
.Collection{ border-radius:5px;}
.Collection strong{ background: url(../bg/28.png) no-repeat bottom; font-size:14px; padding-bottom:0.65rem;}
.Collection a{ font-size:12px; font-family:Microsoft YaHei,LiHei Pro; color:#666666; float:right;}
.Collection a:hover{ color:#eda129;}
.Collection img{ border-radius:5px; width:72px; height:72px;}
.column{ border-bottom:#CCC 1px solid;}
.size{ font-size:16px; background: url(../bg/28.png) no-repeat bottom; padding-bottom:0.7rem;}
.float{ float:right; color:#666666;}
.column a:hover{ color:#eda129;}
.hover a:hover{ color:#eda129;}
.button{ color:#FFF;background:#eda129; border-radius:5px; font-size:12px}
.button:hover{color:#FFF; background:#eda999}
.button-danger{ color:#FFF;background:#dd514c; border-radius:5px; font-size:12px}
.button-danger:hover{color:#FFF; background:#eda999}

.city .am-icon-map-marker{ color:#eda129;}