@charset "utf-8";
/*
	@名称: sqStyle.css
	 食器子继承样式
*/
.rmtj2 .ttc .scroll ul li .s11sq {
	font-size: 14px;
    margin-top: 35px;
    margin-left: 15px;
}
.rmtj2 .ttc .scroll ul li .s12sq {
	font-size: 12px;
    margin-top: 5px;
    margin-left: 25px;
    text-transform: capitalize;
}