<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>印记-SQdish食器-让您的旅途不在将就</title>
	  <link rel="stylesheet" href="/templates/assets/css/amazeui.min.css"/>
      <link  href="/templates/theme/css/regist.css" type="text/css" rel="stylesheet" />
       <script type="text/javascript" src="/templates/theme/js/jquery-1.7.2.min.js"></script>
</head>
<body >
<div class="header">
    <div class="wrap clear">
        <h1 class="logo fl"><a href="#"></a>
        </h1>
        <div class="nav fl">
            <ul class="lifl clear">
                <li class="li1"><a href="/"><span class="s1">首页</span><span class="s2">home</span><span class="s4"></span></a></li>
                <li class="li2"><a href="#"><span class="s1">榜单推荐</span><span class="s2">Recommend</span><span class="s4"></span></a></li>
                <li class="li3"><a href="#"><span class="s3"></span><span class="s4"></span></a></li>
                <li class="li4"><a href="#"><span class="s1">优惠劵</span><span class="s2">coupon</span><span class="s4"></span></a></li>
                <li class="li5"><a href="#"><span class="s1">心愿单</span><span class="s2">wish list</span><span class="s4"></span></a></li>
                <li class="li6"><a href="../templates/reg/article_list.php"><span class="s1">印记</span><span class="s2">marking</span><span class="s4"></span></a></li>
                <li class="li7">
                    <input class="ssk" type="text" value="输入关键字进行查找"/>
                    <input class="btn" type="button"/>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="wrapper">
        <div class="container">
            <a href="#" title="返回首页" class="logo"></a>
            <div class="signup-forms">
                <div class="signup-box" id="_j_signup_box">
                 <div class="add-info">
                  <div class="hd">账号登录</div>
                          <form action method="post" id="_j_login_form">
                                   <div class="login-popup-box">
                                    <div class="form-field">
                                     <div class="errer-info hide">账号不能为空</div>
                                     <p>在食器可以查找美食,分享旅行,结识朋友</p>
                                     <div class="login-input">
                                      <input name="passport" type="text" placeholder="您的邮箱/手机号" autocomplete="off" data-verification-name="账号" 
                                       class="verification[required,funcCall[checkShowCode]]" value data-verification-result="failed">
                                     </div>
                                     <div class="login-input">
                                      <input name="password" type="password" placeholder="您的密码" autocomplete="off" data-verification-name="密码"
                                       class="verification[required]" data-verification-result="failed">
                                     </div>
                                     <div class="login-buttons">
                                      <button type="submit" >登录</button>
                                      <span><a href="#">忘记密码?</a>
                                      </span>
                                     </div>
                                    </div>
                                   
                                    <div class="connect-box">
                                     <h3>用合作网账户直接登录:</h3>
                                     <div class="connect-buttons">
                                      <a href="#" class="weixin">
                                      <i></i>
                                       微信直接登录
                                      </a>
                                      <a href="/qq" class="qq">
                                      <i></i>
                                      qq直接登录
                                      </a>
                                     </div>
                                     <div class="regist-link">
                                      "还没有注册?"
                                      <a href="#">立即注册>></a>
                                     </div>
                                    </div>
                                   </div>
                                  </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">Amaze UI</div>
    <div class="am-modal-bd">
      Hello world！
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn">确定</span>
    </div>
  </div>
</div>
	
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/templates/assets/js/polyfill/rem.min.js"></script>
<script src="/templates/assets/js/polyfill/respond.min.js"></script>
<script src="/templates/assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/templates/assets/js/jquery.min.js"></script>
<script src="/templates/assets/js/amazeui.min.js"></script>
<!--<![endif]-->

</body>
</html>

