<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>印记-SQdish食器-让您的旅途不在将就</title>
      <link  href="../theme/css/login--css-1225.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="../theme/js/jquery-1.7.2.min.js"></script>
</head>
<body >
<div class="header">
    <div class="wrap clear">
        <h1 class="logo fl"><a href="#"></a>
        </h1>
        <div class="nav fl">
            <ul class="lifl clear">
                <li class="li1"><a href="/"><span class="s1">首页</span><span class="s2">home</span><span class="s4"></span></a></li>
                <li class="li2"><a href="#"><span class="s1">榜单推荐</span><span class="s2">Recommend</span><span class="s4"></span></a></li>
                <li class="li3"><a href="#"><span class="s3"></span><span class="s4"></span></a></li>
                <li class="li4"><a href="#"><span class="s1">优惠劵</span><span class="s2">coupon</span><span class="s4"></span></a></li>
                <li class="li5"><a href="#"><span class="s1">心愿单</span><span class="s2">wish list</span><span class="s4"></span></a></li>
                <li class="li6"><a href="article_list.php"><span class="s1">印记</span><span class="s2">marking</span><span class="s4"></span></a></li>
                <li class="li7">
                    <input class="ssk" type="text" value="输入关键字进行查找"/>
                    <input class="btn" type="button"/>
                </li>
            </ul>

        </div>
    </div>
</div>

    <div class="wrapper">
        <div class="container">
            <a href="#" title="返回首页" class="logo"></a>
            <div class="signup-forms">
                <div class="signup-box" id="_j_signup_box">
                 <div class="add-info">
                  <div class="hd">邮箱找回密码</div>
                          <form action="/regist/" method="post" id="_j_signup_form">
                            <input type="hidden" name="token" value="4357d304a03df3f3688b47428c4adcc3" />
                             <div class="form-field">
                               <label for="user-password">您的密码:</label>
                               <input type="password" id="password" value="" >
                               <br>
                               <label for="affirm-password">确认密码:</label>
                               <input type="password" id="affirm-password" value="" >
                               <br>
                                  <div class="err-tip"></div>
                             </div>
                            
                             <div class="submit-btn">
                                <button type="submit">完成</button>
                             </div>
                           </form>
                      </div>
                     </form>
              </div>
            </div>
        </div>
    </div>
 

</body>
</html>

