<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>印记-SQdish食器-让您的旅途不在将就</title>

        <link  href="/templates/theme/css/regist.css" type="text/css" rel="stylesheet" />

        <script type="text/javascript" src="/templates/theme/js/jquery-1.7.2.min.js"></script>

        <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101285136" data-redirecturi="http://www.sqdish.com/quickLogin.php" charset="utf-8"></script>

    </head>

    <body >

       <?php include $_SERVER['DOCUMENT_ROOT']."/templates/inc/header.html";?>

        <div class="wrapper">

            <div class="container">

                <a href="#" title="返回首页" class="logo"></a>

                <div class="signup-forms">

                    <div class="signup-box" id="_j_signup_box">

                        <div class="add-info">

                            <div class="hd">账号登录</div>

                            <form action method="post" action='logic_login.php?action=normal' id="_j_login_form">

                                <div class="login-popup-box">

                                    <div class="form-field">

                                        <div class="errer-info hide">账号不能为空</div>

                                        <p>在食器可以查找美食,分享旅行,结识朋友</p>

                                        <div class="login-input">

                                            <input name="passport" type="text" id="username" placeholder="&nbsp;&nbsp;您的邮箱/手机号" autocomplete="off" data-verification-name="账号" 

                                                   class="verification[required,funcCall[checkShowCode]]" value data-verification-result="failed"/>

                                        </div>

                                        <div class="login-input">

                                            <input name="password" type="password" id="password" placeholder="&nbsp;&nbsp;您的密码" autocomplete="off" data-verification-name="密码"

                                                   class="verification[required]" data-verification-result="failed"/>

                                        </div>

                                        <div class="login-buttons">

                                            <button type="button" onclick="submituserInfo()">登录</button>

                                            <span><a href="/retrieve_password.php">忘记密码?</a>

                                            </span>

                                        </div>

                                    </div>



                                    <div class="connect-box">

                                        <h3>用合作网账户直接登录:</h3>

                                        <div class="connect-buttons">

                                            <a href="/login.php?action=weixinLogin" class="weixin">

                                                <i></i>

                                                微信直接登录



                                                <a  href="#" id="qqLoginBtn" onclick="qqLogin();

                                                        return false;"class="qq"><i></i>

                                                    QQ直接登录</a>

                                        </div>

                                        <div class="regist-link">

                                            "还没有注册?"

                                            <a href="http://www.sqdish.com/register.php">立即注册>></a>

                                        </div>

                                    </div>

                                </div>

                            </form>

                        </div>

                    </div>

                </div>

            </div>

        </div>



    </body>

    <script type="text/javascript">

       // QC.Login.signOut();
        var user_info = {};
        function qqLogin() {
            var oOpts = {
                appId: "101285136",
                redirectURI: "http://www.sqdish.com/quickLogin.php"
            }
            QC.Login.showPopup(oOpts);
        }
        window.onload = function () {
            if (QC.Login.check())
            {
                QC.api("get_user_info", user_info)
                        .success(function (s) {//成功回调  
                        })
                        .error(function (f) {//失败回调  
                        })
                        .complete(function (c) {
                            user_info.nickname = c.data.nickname;
                            user_info.figureurl = c.data.figureurl;
                            postUserInfo(user_info);
                        });

            }
        }

        function postUserInfo(user_info) {

            $.ajax({

                type: "POST",

                async: true,

                url: "/register.php?action=qqLogin",

                contentType: "application/json", //必须有

                data: JSON.stringify(user_info), //相当于 //data: "{'str1':'foovalue', 'str2':'barvalue'}",

                success: function (jsonResult) {

                    var result = eval("(" + jsonResult + ")");

                    if (result['flag'] === 1) {

                        window.top.location = "/index.php";

                    } else {

                        alert(result['msg']);

                    }

                }

            });

        }

        function submituserInfo() {

            var username = $("#username").val();

            var password = $("#password").val();

            if (validate()) {

                var post_data = {username: username, password: password};

                $.ajax({

                    type: "post",

                    url: "/login.php?action=login&from="+"<?php echo $url?>",

                    data: post_data,

                    success: function (data) {

                        var result = eval("(" + data + ")");

                        if (result['flag'] === 1)

                        {
                             if(result['returnUrl'] != null ){
                                    window.location.href = result['returnUrl'];
                                } else {
                                    window.top.location = '/index.php';
                                }

                           // window.top.location = '/index.php';

                        } else if (result['flag'] === 2){
	                       window.location.href = result['url'];
	                        }else {

                            alert(result['msgbox']);

                        }

                    },

                    error: function () {

                        //请求出错处理

                    }

                });

            }

        }





        function validate() {

            var username = $("#username").val();

            var password = $("#password").val();

            if (username && password)

            {

                return true;

            } else {

                alert('用户名或者密码为空');

                return false;

            }

        }





    </script>

</html>



