<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><?=$merchant_text?> - <?=$website_name?> <?=$admin_center?></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="templates/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="templates/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="templates/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="templates/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<?php
	// header
	include 'templates/header.htm';
?>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <?php
	// 左边栏
	include 'templates/sidebar.htm';
  ?>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg"><?=$keywords_admin_text?></strong> </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
            <a href="ArticleKeywordAdd.php" class="am-btn am-btn-default"><span class="am-icon-plus"></span> <?=$add_text?></a>
            <a id="del-by-ids" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> <?=$delete_text?></a>
          </div>
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-3">
		<form action="articleKeywordList.php" method="get" class="am-input-group am-input-group-sm"> 
		  <input type="text" name="key" class="am-form-field">
		  <span class="am-input-group-btn">
			<button class="am-btn am-btn-default" type="submit"><?=$search_text?></button>
		  </span>
		</form>  
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-check"><input type="checkbox" id="select"  /></th><th class="table-id">ID</th><th class="table-title"><?=$article_keywords_text?></th><th class="table-type"><?=$article_keywordsUrl_text?></th><th class="table-author "><?=$article_keywordsNum_text?></th><th class="table-set"><?=$operation_text?></th>
              </tr>
          </thead>
          <tbody>
		  <?php
			foreach($List as $key => $value){
			?>
<tr>
	<td><input data-id="<?php echo $value['id']; ?>" class="select-id" type="checkbox" /></td>
	<td><?php echo $value['id']; ?></td>
	<td><?php echo $value['KeywordName']; ?></td>
	<td><?php echo $value['KeywordUrl']; ?></td>
	<td class="am-hide-sm-only"><?php echo $value['KeywordNum']; ?></td>
	<td>
	<div class="am-btn-toolbar">
		<div class="am-btn-group am-btn-group-xs">
		<a href='ArticleKeywordEdit.php?id=<?php echo $value['id']; ?>'' class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span><?php echo  $edit_text; ?></a>
		<a onclick="return confirm('<?php echo $delete_text; ?>');"  href="ArticleKeywordDel.php?id=<?php echo $value['id']; ?>" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> <?php echo $delete_text; ?></a>
		</div>
	</div>
	</td>
</tr>

			<?php 
			}
			?>
          </tbody>
        </table>
          <div class="am-cf">
  <?=$total_text?> <?=$count?> <?=$records_text?>
  <div class="am-fr">
    <ul class="am-pagination">
		
		<?php  echo $pages->display(); ?>
	
	
      

	  
		<!---<li>
			<form action="sellerList.php">
				<input style="width:60px;" type="text" name="page" />
				<input style="width:60px;" type="hidden" name="key" value="<?=$keywords?>"/>
			</form>
		</li>--->	

    </ul>
  </div>
</div>
          <hr />
          <p>注：</p>
        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>

<a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<?php
	// footer
	include 'templates/footer.htm';
?>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="templates/assets/js/jquery.min.js"></script>
<script src="templates/assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script>

$('#select').click(function(){
	zt=$(this).is(':checked');
	//alert(zt);
	$(".select-id").each(function(){	
		if(zt){
			$(this).prop("checked",zt);
		}else{
			$(this).removeAttr('checked');
		}
	});
});


	(function($) {
	  'use strict';

	  $(function() {
		var $fullText = $('.admin-fullText');
		$('#admin-fullscreen').on('click', function() {
		  $.AMUI.fullscreen.toggle();
		});

		$(document).on($.AMUI.fullscreen.raw.fullscreenchange, function() {
		  $.AMUI.fullscreen.isFullscreen ? $fullText.text('<?=$close_full_text?>') : $fullText.text('<?=$open_full_text?>');
		});
	  });
	})(jQuery);
</script>
<script>
	$(function(){
		$("#del-by-ids").click(function(){		
			var ids = "";		
			$(".select-id:checked").each(function(){
				ids += $(this).data("id")+",";
			});			
			if(ids == ""){
				alert("请选择关键词");
				return;
			}else{
				ids = ids.substring(0,ids.length-1);
			}
			
			if(confirm("确认删除所选关键词？")){
				location.href="ArticleKeywordDel.php?id="+ids;
			}
		});
		$("#checkall").click(function(){
			
			//$(".select-id:checked").each(function(){
				//ids += $(this).data("id")+",";
			//});
		
		});
		
		
		
	});
</script>
</body>
</html>
