<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><?=$website_name?><?=$admin_center?></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="templates/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="templates/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="templates/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="templates/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<?php
	// header
	include 'templates/headerDish.htm';
?>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <?php
	// 左边栏
	include 'templates/sidebarDish.htm';
  ?>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg"><?=$upload_new_menu_text?></strong></div>
    </div>

    <hr/>

    <div class="am-g">

      <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">

      </div>

      <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
        <form action="doDishMenuUpload.php" method="post" enctype="multipart/form-data" class="am-form am-form-horizontal">
			<div class="am-form-group">
				<label for="user-name" class="am-u-sm-3 am-form-label"><?=$dish_menuPic_text?></label>
				<div class="am-u-sm-9">
					<img class="am-img-circle am-img-thumbnail" src="<?=$dishPic?>" onerror="this.src='http://amui.qiniudn.com/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80'" width="300" alt=""/>
				</div>
			</div>

			<div class="am-form-group">
				<label for="user-email" class="am-u-sm-3 am-form-label"><?=$upload_new_menu_text?></label>
				<div class="am-u-sm-9">
					<div class="am-u-md-12">
						<p><?=$upload_clear_menu_text?></p>
						<div class="am-form-group">
							<input type="hidden" name="sid" value="<?=$sid?>" >
							<input type="file" name="dishPic" id="dishPic">
							<p class="am-form-help"><?=$choose_file_text?>...</p>
							<button type="submit" class="am-btn am-btn-primary am-btn-xs"><?=$save_text?></button>
						</div>
					</div>
				</div>
			</div>
        </form>
      </div>
    </div>
  </div>
  <!-- content end -->

</div>

<a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<?php
	// header
	include 'templates/footerDish.htm';
?>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="templates/assets/js/jquery.min.js"></script>
<script src="templates/assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script>
	(function($) {
	  'use strict';

	  $(function() {
		var $fullText = $('.admin-fullText');
		$('#admin-fullscreen').on('click', function() {
		  $.AMUI.fullscreen.toggle();
		});

		$(document).on($.AMUI.fullscreen.raw.fullscreenchange, function() {
		  $.AMUI.fullscreen.isFullscreen ? $fullText.text('<?=$close_full_text?>') : $fullText.text('<?=$open_full_text?>');
		});
	  });
	})(jQuery);
</script>
</body>
</html>
