
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>食器管理中心</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="/food_mg/templates/assets/i/favicon.png">
  <link rel="stylesheet" href="/food_mg/templates/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/html/assets/css/sq_mg.css"/>
  
  <script src="/food_mg/templates/assets/js/jquery.min.js"></script>
  <script src="/food_mg/templates/assets/js/amazeui.min.js"></script>
  <script>
	function selectLanguage(lan){
		$.post("/food_mg/selectLanguage.php",{"l":lan},function(data){
			if(lan == 'cn'){
				location.href = "MakeSure.html";
			}else if(lan == 'thai'){
				location.href = "MakeSure_thai.html";
			}else if(lan == 'en'){
				location.href = "MakeSure_en.html";
			}
		});
	}
  </script>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body class="login">
<div class="header">
  <div class="am-g">
	 <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
	  <li class="am-dropdown" data-am-dropdown>
		 <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users"></span> ภาษา <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
		  <li><a onclick="selectLanguage('cn');" href="javascript:;"><span class="am-icon-chinese"></span> 中文</a></li>
          <li><a onclick="selectLanguage('thai');" href="javascript:;"><span class="am-icon-thai"></span> THAI</a></li>
          <li><a onclick="selectLanguage('en');" href="javascript:;"><span class="am-icon-english"></span> EN</a></li>
        </ul>
      </li>
	 </ul>
    <h1><img src="/html/assets/i/logo.png"> 食器 sqdish.com</h1>
    <p class="login_info">หากคุณต้องการที่จะใช้แพลตฟอร์มโปรดยินยอมสัญญาการให้บริการ</p>
  </div>
</div>

<div class="am-g">
  <div class="am-u-lg-4 am-u-md-8 am-u-sm-centered sqlogin">
    <h3>ข้อตกลงการใช้บริการ</h3>
    <hr class="login_top">
    <br>
    <form method="post" action="doLogin.php" class="am-form">
		<div class="am-form-group">
			<textarea class="" rows="20" id="doc-ta-1">
1.ข้อตกลงและเงื่อนไขในการเข้าใช้บริการ
ระบบSQ dishรวมถึงผลิตภัณฑ์ที่เกี่ยวข้องกับซอฟแวร์ต่างๆ เป็นกรรมสิทธ์และการดำเนินงานของบริษัท ลานนา ริคโท บิสซิเนส คอนซัลติ้ง จำกัด โดยเจ้าของกิจการที่สมัครใช้งานบนเว็บไซด์ของบริษัท ต้องเลือก “ยอมรับข้อตกลง” และอัพโหลดข้อมูลการสมัคร ถือเป็นอันว่า กิจการ  กับ บริษัท ลานนา ริคโท บิสซิเนส คอนซัลติ้ง จำกัด ได้ทำข้อตกลงร่วมกันเรียบร้อย โดยทั้งสองฝ่ายยอมรับรายละเอียดข้อตกลงและเงื่อนไขทั้งหมดของการใช้บริการ
2.ความปลอดภัยของบัญชีผู้ใช้
2.1) หลังจากที่เจ้าของกิจการลงทะเบียนสำเร็จแล้ว เป็นกิจการที่อยู่บนระบบSQ dish เจ้าของกิจการจะได้รับชื่อผู้ใช้และรหัสผ่าน และมีสิทธิ์ในการใช้ชื่อผู้ใช้และรหัสผ่านเข้าใช้งานบนระบบSQ dishทุกเมื่อ
2.2) เจ้าของกิจการต้องรับผิดชอบในการรักษาชื่อผู้ใช้และรหัสผ่าน โดยเจ้าของการต้องรับผิดชอบกับการกระทำที่เกิดขึ้นบนหน้าเว็บไซด์ด้วยตัวเอง
3.3) เจ้าของกิจการจะไม่นำชื่อผู้ใช้และรหัสผ่านให้ผู้อื่นหรือให้ผู้อื่นเข้าใช้งานโดยพลการ
3.4) หากเจ้าของกิจการทำชื่อผู้ใช้และรหัสผ่านรั่วไหลหรือสูญหาย ที่ส่งผลลบหรือก่อให้เกิดความเสียหายต่อทางกิจการ เจ้าของกิจการควรรีบติดต่อเจ้าหน้าที่ของระบบSQ dishโดยด่วน มิฉะนั้นเจ้าของกิจการจะต้องเป็นผู้รับผิดชอบต่อความเสียหายที่เกิดขึ้นเอง
3.ข้อรับประกันของเจ้าของกิจการ
3.1) เจ้าของกิจการเป็นผู้บรรลุนิติภาวะ มีสุขภาพกายใจสมบูรณ์ และ มีความสามารถในการทำนิติกรรมด้วยตัวเอง
3.2) ในการสมัครการใช้งานบนระบบSQ dishเจ้าของกิจการได้ให้ข้อมูลที่เป็นความจริงทุกประการ ทั้งชื่อกิจการ ที่ตั้งของกิจการ เบอร์โทรติต่อ และอีเมล์เป็นต้น และเจ้าของกิจการรับประกันว่าพนักงานของSQ dishสามารถใช้ข้อมูลดังกล่าวติดต่อกับเจ้าของกิจการได้
4.รายละเอียดการให้บริการของระบบSQ dish
4.1) ระบบ SQ dishให้บริการรายการอาหารสองภาษา ไทย-จีนแก่เจ้าของกิจการและลูกค้าที่มาใช้บริการ โดยมีรายละเอียดดังนี้
(1) หลังจากที่เจ้าของกิจการอัพโหลดรายการอาหารแล้ว ระบบSQ dishให้บริการการแปลรายการอาหารเป็นภาษาจีนโดยไม่มีค่าใช้จ่าย และหากเจ้าของกิจการไม่สามารถอัพโหลดรูปภาพรายการอาหารแต่ละชนิดของทางร้านได้ ระบบSQ dishจะทำการหารูปอาหารจากอินเตอร์เน็ต ถ้าเกิดปัญหาใดๆ ทั้งสองฝ่ายจะเป็นผู้รับผิดชอบความเสียหายที่เกิดขึ้น
(2) รายการอาหารอยู่ในรูปแบบQR code ระบบSQ dishรับประกันว่าQR codeสามารถเข้าใช้งานได้ โดยเจ้าของกิจการจะนำQR codeติดไว้อย่างสมบูรณ์ ในที่ที่สามารถมองเห็นได้ง่าย หากQR codeเกิดความเสียจนไม่สามารถใช้งานได้ เจ้าของกิจการจะติดต่อพนักงานของระบบSQ dishทันที
(3) หลังจากที่ระบบSQ dishจัดทำรายการอาหารสองภาษา ไทย-จีนเรียบร้อยแล้ว เราจะทำการเช็คข้อมูลกับเจ้าของกิจการ เพื่อให้ลูกค้าได้เลือกใช้ข้อมูลที่ถูกต้อง หากทางกิจการมีการเปลี่ยนแปลงรายการอาหารหรือราคาอาหารควรรีบแจ้งให้กับSQ dishทราบเพื่อเปลี่ยนแปลงข้อมูล เพราะหากข้อมูลที่ผิดพลาดทำให้เกิดข้อพิพาทกับทางผู้บริโภค เจ้าของกิจการจะเป็นผู้รับผิดชอบกับสิ่งที่เกิดขึ้น
(4) SQ dishรับประกันว่าจะทำการสนับให้ลูกค้าสั่งอาหารผ่านระบบ
4.2) ระบบSQ dishมีสิทธิ์ในการตรวจสอบหรือทำการลบกิจการนั้นๆทุกเมื่อ เมื่อพบว่ากิจการดังกล่าวอัพโหลดข้อมูลหรือเนื้อหาที่ผิดต่อกฎหมาย
4.3) เพื่อทำปกป้องการดำเนินงาน ระบบSQ dish มีสิทธิและผลประโยชน์ในการโฆษณาบนระบบ ซึ่งโฆษณาจะปรากฏอยู่บนหน้าเว็บข้อมูลของกิจการ โดยรายได้ที่เกิดจากการโฆษณาเป็นกรรมสิทธิ์ของSQ dish
5.การปิดระบบและการอัพเดทระบบการให้บริการ
5.1) การยอมรับการเปลี่ยนแปลงการให้บริการบนระบบ เจ้าของกิจการยอมรับการเปลี่ยนแปลงหรือการหยุดใช้งาน (ปิดระบบ) การให้บริการบางอย่าง
5.2) ระบบSQ dish ไม่ขอกำหนดเวลาที่แน่นอนในการแก้ไขหรือพัฒนาระบบการให้บริการ เช่นหากในสถานการณ์ที่ระบบไม่สามารถใช้งานในเวลาอันไม่สมควร ระบบSQ dishจะไม่รับผิดชอบกับเหตุการณ์ที่เกิดขึ้นแต่จะแก้ไขหรือพัฒนาระบบให้เร็วที่สุด
6.การเปลี่ยนแปลงข้อตกลงการใช้บริการ
6.1) ระบบSQ dishมีสิทธิ์ในการเปลี่ยนแปลงข้อตกลงการใช้บริการทุกเมื่อ หลังจากที่ทำการเปลี่ยนแปลงข้อตกลงการใช้บริการแล้ว ทางระบบSQ dishจะแจ้งให้กับเจ้าของกิจการทราบ
6.2) หากเจ้าของกิจการไม่เห็นด้วยกับการเปลี่ยนแปลงข้อตกลงการใช้บริการของระบบSQ dish เจ้าของกิจการมีสิทธิหยุดใช้งานบนระบบได้
6.3) หากเจ้าของกิจการทำการใช้บริการบนระบบต่อไป แสดงว่าเจ้าของกิจการยอมรับการเปลี่ยนแปลงการตกลงการให้บริการของระบบSQ dish
7.การแจ้งให้ทราบ
7.1) การแจ้งข้อมูลให้เจ้าของกิจการได้รับทราบจะทำผ่านการส่งอีเมล์หรือจัดส่งจดหมายให้ เพื่อแจ้งรายละเอียดการเปลี่ยนแปลงข้อตกลงการใช้บริการ การให้บริการ หรือเรื่องสำคัญต่างๆเป็นต้น
8.การปฏิเสธและการชดใช้
8.1) หากระบบSQ dishได้มีการเปลี่ยนแปลงการใช้งานบนระบบและทำการแจ้งกับเจ้าของกิจการถึงเรื่องดังกล่าว หากเจ้าของกิจการละเลยเรื่องดังกล่าวจนเกิดผลต่างๆตามมา เจ้าของกิจการต้องรับผิดชอบกับผลที่เกิดขึ้นเอง
8.2) เจ้าของกิจการรับทราบและเห็นด้วยว่าการใช้งานบนระบบSQ dishอาจมีความไม่ปลอดภัยที่อาจเกิดขึ้นได้ โดยเจ้าของกิจการจะรับผิดชอบกับสิ่งที่เกิดขึ้นเอง เช่นหากใช้บริการบนระบบSQ dishเกิดผลใดๆตามมา เจ้าของจะเป็นผู้รับผิดชอบทั้งสิ้น
8.3) เจ้าของกิจการเห็นด้วยและรับประกันที่จะปกป้องผลประโยชน์ของระบบSQ dish หากเจ้าของกิจการให้หรือใช้ข้อมูลที่ผิดต่อกฎหมาย ไม่เป็นความจริง ไม่มีความยุติธรรมหรือคุกคามต่อบุคคลที่3 ในการลงทะเบียนเข้าใช้ระบบ หรือเจ้าของกิจการผิดต่อข้อตกลงการใช้บริการฉบับนี้ซึ่งทำให้เกิดความเสียหายต่อระบบSQ dish เจ้าของกิจการยอมรับผิดชอบและชดใช้ต่อค่าเสียหายที่เกิดขึ้น
9.ระบบความเป็นส่วนตัว
9.1) ขอบเขตการใช้งาน
(1) ในขณะที่เจ้าของกิจการทำการสมัครบนระบบSQ dish ต้องใส่ข้อมูลการสมัครตามที่ระบบต้องการ
9.2) การใช้ข้อมูล
(1) ระบบSQ dishจะไม่เปิดเผยข้อมูลของเจ้าของกิจการที่ลงสมัครบนระบบ นอกจากเจ้าของกิจการต้องการหรือยินยอมให้เปิดเผย
(2) ระบบSQ dishไม่อนุญาตให้บุคคลอื่นใดรวบรวม เรียบเรียง ขายหรือเปิดเผยข้อมูล หากต้องการที่จะเรียบเรียง  เปิดเผย ต้องทำการแจ้งกับSQ dishและได้รับอนุญาตจากระบบSQ dishเสียก่อน โดยได้รับข้อมูลจากSQ dish ถึงสามารถใช้ข้อมูลดังกล่าวได้ แต่หากพบว่ามีหน่วยงานหรือบุคคลนำไปใช้ ระบบSQ dishจะติดตามดำเนินคดีกับบุคคลดังกล่าวอย่างถึงที่สุด
9.3) dการเปิดเผยข้อมูล – ข้อมูลการสมัครของเจ้าของกิจการจะถูกเปิดเผยบางส่วนหรือทั้งหมดตามสถานการณ์ดังนี้
(1) ได้รับการยินยอมที่จะเปิดเผยจากเจ้าของกิจการ
(2)ตามที่กฎหมายกำหนดไว้หรือโครงสร้างหรือนโยบายของบริษัทที่ต้องการและสามารถทำการเปิดเผยข้อมูลได้
(3) หากเกิดสถานการณ์ที่เจ้าของกิจการละเมิดต่อกฎหมายหรือนโยบายของเว็บไซด์ ทำให้มีความจำเป็นต้องเปิดเผยข้อมูล
(4) เพื่อการสนองตอบความต้องการของเจ้าของกิจการต่อการให้บริการและ ผลิตภัณฑ์ จึงมีความจำเป็นที่จะสามารถทำการแชร์ข้อมูลของกิจการนั้นๆ
(5)ระบบSQdishเห็นสมควรด้วยกฎหมายหรือนโยบายของบริษัทว่าสามารถทำการเปิดเผยได้
(6) เจ้าของกิจการที่ใช้บริการบนระบบSQ dishและได้ทำการให้ข้อมูลบัญชีธนาคาร ระบบSQ dish จะเก็บรักษาและดูแลอย่างเคร่งครัด

ขอสงวนสิทธิ์ในการตีความข้อตกลงข้างต้นตาม บริษัท ลานนา  ริคโท บิสซิเนส คอนซัลติ้ง จำกัด
lannaricto@gmail.com
			</textarea>
		</div>
		<div class="am-cf" style="margin:0 0 0 189px;">
        <a class="am-btn am-btn-success am-btn-sm am-fl" href="../login.php">เห็นด้วยกับ</a>
        <a class="am-btn am-btn-danger am-btn-sm am-fl" href="#">ไม่ตกลง</a>
      </div>
    </form>	
    <hr>
    <p>© 2015 Sanho Tec, Inc. Licensed under MIT license.</p>
  </div>
</div>
</body>
</html>