@charset "utf-8";
/* CSS Document */
/*公共模块*/
body { font-family: "微软雅黑";font-size: 12px;color: #333333;margin: 0px;padding: 0px; background:#ffffff;}
div,ul,li,h1,h2,h3,h4,h5,h6,img,p,dl,dt,dd,ol,th,td{margin: 0px;padding: 0px;}
li {list-style-type: none;}
form,input,button,option,textarea,select{ margin: 0px;padding: 0px;}
input,button,textarea,select{font:100% Tahoma,Helvetica,Arial,sans-serif;}
a {color:#1d1f20;text-decoration: none;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover{text-decoration: none;}
a:active {text-decoration: none;}
table {font-size:inherit;font:100%;}
th { font-weight:normal;}
img { border:0;}
h3 { font-size: 14px; color: #000;}
h4 { font-size: 12px;}
.clear { clear: both; height: 0px; overflow: hidden;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:    rgba(255,255,255,0.9);
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color:    rgba(255,255,255,0.9);
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color:    rgba(255,255,255,0.9);
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:    rgba(255,255,255,0.9);
}

.header{ float:left; background:#eda128; width:100%; height:3.75em;}
.header .logo{ float:left; background:url(../images/images/logo1.jpg) no-repeat left center; background-size:44px 45px; width:13.7%; height:3.75em;}
.header .mid{ float:left; margin-left:6.5%; border-radius:0.3em; border:1px solid #FFF; width:65%; height:2.125em; margin-top:0.83em;}
.header .mid .locate{ float:left; border-right:1px solid #FFF; height:2.125em; line-height:2.125em; width:30%; margin-left:4.5%;}
.header .mid .locate .icon{ float:left; background:url(../images/images/locate.png) no-repeat right center; background-size:9px 12px; height:2.125em; width:13.3%;}
.header .mid .locate .place{ float:left; background:url(../images/images/xiala.png) #eda128 no-repeat right center; background-size:7px 12px; height:2.125em; width:55.9%; padding-left:6%; color:#FFF;}
.header .mid .text{ display:block; float:left; width:62%; border:none; height:2.125em; line-height:2.125em; color:#FFF; background:none; background:url(../images/images/fangdajing.png) no-repeat 97% center; background-size:12px 12px; padding-left:3%;}
.header .login{ float:right; width:12%; height:3.214em; line-height:3.214em; color:#FFF; font-size:14px;}
.main{ float:left; width:100%;}
.main .mune{ float:left; width:100%;}
.main .mune li{ font-size:16px; float:left; height:2.75em; line-height:2.75em; width:33.3%; text-align:center; color:#999999; border-bottom:2px solid #ebebeb;}
.main .mune .frist{ color:#eda128; border-bottom:2px solid #eda128;}
.main .question{ margin:0px auto; width:85%;}
.main .question .title{ float:left; font-size:14px; margin-top:1.9em; color:#444444; height:1.2em; line-height:1.2em; width:100%;}
.main .question ul{ float:left; width:100%;}
.main .question ul li{ float:left; width:100%; word-break:break-all; margin-top:1.16em;}
.main .question ul li .Q{ color:#eda128; line-height:1.6em;}
.main .question ul li .A{ color:#0e0e0d; line-height:1.6em;}
.main .border{ float:left; margin-top:3.75em; width:100%; height:0.75em; background:#f7f7f7;}
.footer{ margin:0px auto; width:100%;}
.footer .border{ float:left; width:100%; border-top:1px dotted #c6c6c6; border-bottom:1px dotted #c6c6c6;}
.footer .border .menu{ width:320px; margin:0px auto;}
.footer .border .menu li{ margin:2px 0px 2px 0px; border-left:1px dotted #c6c6c6; float:left;}
.footer .border .menu .frist{ border-left:none;}
.footer .bottom{ margin:0px auto; width:320px;}
.footer .bottom li{ width:8.83em; float:left; color:#222222; text-align:center; height:5em; line-height:5em;}
.footer .copyright{ width:320px; text-align:center; margin:0px auto; color:#b0b0b0;}