<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>榜单推荐|SQdish食器</title>
    <link href="/templates/theme/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<?php include "inc/header.html"?>
<?php include "inc/header_info.html"?>
<div class="banner5"></div>
<div class="ctdp">
    <div class="wrap clear">
        <div class="top"><a class="a1 hover" id="cat1" href="business_list.php">食器餐厅</a><a class="a2"  id="cat2" href="dish_list.php">食器菜品</a><a class="a2" href="#1">附近的餐厅</a></div>
        <div class="d2" >
        <a  class="a1" href="business_list.php">全部</a>
        <?php foreach($rtype as $v) {?>
           <a  href="business_list.php?rt_name=<?php echo $v['rt_name'];?>" style="background:url(<?php echo $v['rt_icon'];?>) no-repeat left center;"><?php echo $v['rt_name']; ?></a>
        <?php }?>
        </div>
        <div class="d3 d31">
			<div class="sx">
					<a class="a1 fl hover" href="#1">最新</a><span class="s1 fl">|</span>
					<a class="a2 fl" href="#1">销量</a><span class="s1 fl">|</span>
					<a class="a3 fl" href="#1">评价</a>
                <div class="sxd fr">
                    <a href="business_list.php?<?php echo !empty($rt_name)?'rt_name='.$rt_name:'';?>&act=is_rec">认证商户</a>
                    <a href="business_list.php?<?php echo !empty($rt_name)?'rt_name='.$rt_name:'';?>&act=online_pay">在线支付</a>
                </div>
            </div>
            <div class="lb">
                <ul class="lifl clear">
		<?php foreach($sellerList as $v){?>			
                    <li>
                        <a href="business_detail.php?sid=<?php echo $v['id'];?>">
                            <img class="img" src="<?php echo $v['pic'];?>" alt=""/>
                            <span class="s1"><?=$v['sellerName']?></span>
                            <span class="s2">
                                <span class="s21 fl"><img src="/templates/theme/bg/13.png" alt=""/></span>
                                <span class="s22 fl">累计<?php echo $v['count'];?>名吃货光临</span>
                            </span>
                            <span class="s3">在线支付<i>满15减2，满40减10！</i></span>
                            <span class="s5" > 
                                <?php foreach($v['ser_icon'] as $k){?>
                                <span class="s52" ><img style= "width:auto; height:auto; max-width:100%;max-height:100%;"src="<?=$k?>" /></span>
                                <?php }?>
                            </span>
                        </a>
                    </li>
		<?php }?>			

					
                </ul>
                <div class="fy fy1">
                    <!-- <a href="#1"><span class="s1"><img src="/templates/theme/bg/zuo.png" alt=""/></span></a> -->
					<span class="s2">                
							   <?php  echo $pages->display(); ?>
					</span>
                    <!-- <a href="#1"><span class="s3"><img src="/templates/theme/bg/you.png" alt=""/></span></a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<?php include "inc/footer.html"?>


<script type="text/javascript" src="/templates/theme/common/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/templates/theme/common/jquery.tools.min.js"></script>
<script type="text/javascript" src="/templates/theme/common/ciads.js"></script>
</body>
</html>
<!--搜索后栏目链接重定向-->
<script type="text/javascript">

window.onload=function(){
            var keys = $("#keys").val();
            if (keys!="输入关键字进行查找") {
                    $("#cat1").attr("href","search.php?act=1&key="+keys);
                    $("#cat2").attr("href","search.php?act=2&key="+keys);
                    $("#cat3").attr("href","search.php?act=3&key="+keys);
            }
}





</script>