<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><?php echo $typeName;?>_<?php echo $detail['sellerName'];?>|SQdish食器</title>
    <link href="templates/theme/css/style.css" type="text/css" rel="stylesheet" />
    
</head>
<body>
<?php include "inc/header.html"?>
<?php include "inc/header_info.html"?>
<div class="shxq">
    <div class="d1">
        <div class="wrap">
            <a href="business_detail.php?sid=<?php echo $sid?>"><img class="img fl" src="<?php echo $detail['pic'];?>" alt=""/></a>
            <div class="d2 fl">
                <a href="business_detail.php?sid=<?php echo $sid?>"><span class="s1"><?php echo $detail['sellerName'];?></span></a>
                <span class="s2">
                    <span class="s21 fl"><img src="templates/theme/bg/13.png" alt=""/></span>
                    <span class="s22 fl">月售<?php echo $detail['count'];?>份</span>
                    <span class="s23 fl"><?php echo $detail['BH'];?></span>
                </span>
                <span class="s5">
                                <?php foreach($ser_icon as $k){?>
                                <span class="s52" ><img style= "width:auto; height:auto; max-width:100%;max-height:100%;"src="<?=$k?>" /></span>
                                <?php }?>
                </span>
            </div>
                      <div class="d3 fl">
                <a class="hover" href="business_detail.php?sid=<?php echo $sid;?>">菜 单</a>
                <a href="business_coupon.php?sid=<?php echo $sid;?>">优惠券</a><!--此按钮需要判断商户是否有优惠券-->
                <a href="business_comment.php?sid=<?php echo $sid;?>">评 价</a>
                <a href="#1" class="sh">商户名片<div class="wx"><img src="<?php echo $detail['QRCode'];?>"></div></a>
            </div>
            <ul class="d4 fr lifl">
                <li><span class="s1"><?php echo $detail['click'];?>次</span><span class="s2">浏览量</span></li>
                <li><span class="s1">฿100</span><span class="s2">人均消费</span></li>
                <li><span class="s1">78条</span><span class="s2">评价数</span></li>

                <li>

                    <?php if($fav_flag==0) { ?>
                    <a href="#1" class="addFav" onclick="addShopFav(<?php echo $detail['id'];?>,1);"><span class="s1 s11"></span><span class="s2 s21">收藏商户</span></a>
                    <a  style="display:none" class="hover delFav" href="#1" onclick="cancelShopFav(<?php echo $detail['id'];?>,1);"><span class="s1 s11"></span><span class="s2 s21">收藏商户</span></a>
                    <? } else { ?>

                    <a class="hover delFav" href="#1" onclick="cancelShopFav(<?php echo $detail['id'];?>,1);"><span class="s1 s11"></span><span class="s2 s21">收藏商户</span></a>
                    <a href="#1" class="addFav" style="display:none"onclick="addShopFav(<?php echo $detail['id'];?>,1);"><span class="s1 s11"></span><span class="s2 s21">收藏商户</span></a>
                    <? } ?>

                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="msfl">
        <div class="wrap clear">
            <div class="left fl">
                <div class="t1"><span>美食分类</span></div>
                <div class="t2">
					<span><a href="business_detail.php?sid=<?php echo $detail['id'];?>" >全部 (<?php echo $sum;?>)</a></span> 
					<?php foreach($typeList as $v){?>
					<span><a href="business_detail_type.php?sid=<?php echo $detail['id'];?>&dtid=<?php echo $v['id'];?>" class="<?php if($typeName==$v['typeNameCN']){echo hover;}?>" title="<?php echo $v['typeNameCN'];?>"><?php echo $v['typeNameCN'];?>(<?php echo $v['count'];?>)</a></span>
					<?php }?>
                </div>
                <div class="t1"><span><?php echo $typeName;?></span></div>
                <ul class="clear lifl">
                        <?php foreach($type_dish as $s){?>
                    <li>
                        <a href="#1">
                            <a href="dish_detail.php?id=<?php echo $s['id'];?>&sid=<?php echo $detail['id'];?>"><img class="img fl" src="<?php echo empty($s['pic'])?'/templates/images/sellerdefault.jpg':$s['pic'];?>" alt=""/></a>
                            <div class="ld fl">
                                <a href="dish_detail.php?id=<?php echo $s['id'];?>&sid=<?php echo $detail['id'];?>"><span class="s1"><?php echo $s['dishNameCN'];?><?php $options = $db->get_all("select optionCN from f_dish_options where did='$s[id]'"); if(!empty($options)){echo '('; foreach($options as $key=>$val){ if($key==0){echo explode(',',$val['optionCN'])[0] ;}else{echo '/'.explode(',',$val['optionCN'])[0] ;}}echo ')';};?></span></a>
                                <span class="s2">
                                    <span class="s21">6人推荐</span><span class="s22">|</span><span class="s21"> 已售<?php echo $s['used'];?>份</span>
                                </span>
                                <span class="s3">฿ <?php echo $s['price'];?></span>
                            </div>

                            <a href="#cartButton" class="cartButton" id="<?php echo $s['id'].'_'.$detail['id'];?>"></a>
                        </a>
                    </li>
                    <?php }?>
                </ul>
                 <div class="fy fy1">
                    <!-- <a href="#1"><span class="s1"><img src="/templates/theme/bg/zuo.png" alt=""/></span></a> -->
                    <span class="s2">                
                               <?php  echo $pages->display(); ?>
                    </span>
                    <!-- <a href="#1"><span class="s3"><img src="/templates/theme/bg/you.png" alt=""/></span></a> -->
                </div>
            </div>
            <div class="right fr">
				<?php include "inc/business_right.html"?>
            </div>
        </div>
    </div>
</div>
<input id="url" type="hidden" value="<?php echo $url;?>"/>
<input id="mid" type="hidden" value="<?php echo $mid;?>"/>
<input id="sid" type="hidden" value="<?php echo $sid;?>"/>
<?php include "inc/footer.html"?>


<script type="text/javascript" src="templates/theme/common/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="templates/theme/common/jquery.tools.min.js"></script>
<script type="text/javascript" src="templates/theme/common/ciads.js"></script>
<script type="text/javascript" src="templates/theme/common/jquery.fly.min.js"></script>
<script type="text/javascript" src="templates/theme/js/cart.js"></script>
<script type="text/javascript" src="templates/theme/js/favourite.js"></script>

<script type="text/javascript">
$(function(){
    $('.shxq .msfl .left ul li a.cartButton').on('click', addCart);
    $(window).scroll(function(){
        wTop=parseInt($(document).scrollTop());
        if(wTop>parseInt($(".right").offset().top))
        {
            $(".ciads_scroll").addClass("ciads_scroll2").width($(".right").width()).css("right",($(window).width()-1200)/2);
        }
        else
        {
            $(".ciads_scroll").removeClass("ciads_scroll2");
        }
    });
});
function addCart(event) {

    var shop_goods = this.id.split("_");
    var goods_id = shop_goods[0];
    var shop_id =  shop_goods[1];
    var num = 1;
    addToCart(goods_id,shop_id,num);
var offset = $('#Cart').offset(), flyer = $('<img class="u-flyer" src="templates/images/3333.png"/>');
flyer.fly({
    start: {
        left: event.pageX,
        top: event.pageY
    },
    end: {
        left: offset.left+20,
        top: offset.top,
        width: 20,
        height: 20
    },
    onEnd:function(){
        flyer.remove();
    }
});
}
</script>
</body>
</html>