<div class="city1">
    <div class="city wrap">
        <ol class="am-breadcrumb am-breadcrumb-slash Breadcrumb">
         <span><i class="am-icon-map-marker am-icon-sm"></i> </span>
  		 <li><a href="/">首页</a></li>
         <!-- <li><a href="#">分类</a></li>-->
  		 <li class="color">个人中心</li>
         <?php if(!empty($user_info)) {?>
         <div class="name">
          <li class="am-dropdown" data-am-dropdown>
		        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;" style="color:#eda129;">
		         <?php echo $user_info['nickname'] ? $user_info['nickname'] : $user_info['username'];?>  <span class="am-icon-caret-down"></span>
		        </a>
		        <ul class="am-dropdown-content down">
		          <li><a href="/user_index.php"><span class="am-icon-user am-margin-left-md"></span> 个人中心</a></li>
		          <li><a href="/user_favourite.php"><span class="am-icon-star am-margin-left-md"></span> 我的收藏</a></li>
		          <li><a href="#"><span class="am-icon-file am-margin-left-md"></span> 我的订单</a></li>
		          <li><a href="#"><span class="am-icon-cny am-margin-left-md"></span> 我的优惠券</a></li>
		          <li><a href="/user_info.php"><span class="am-icon-cog am-margin-left-md"></span> 账号设置</a></li>
		          <li><a href="#"><span class="am-icon-sign-out am-margin-left-md"></span> 注销
		          </a></li> 
		        </ul>
      	  </li>
         </div>
         <?php }?>
         </ol>
    </div>
</div>
<div class="am-g am-u-md-centered content">
    <div class="am-u-md-2 dh">
        <div class="am-g">
            <ul class="am-list">
                <li><a href="/user_index.php"><span class="am-icon-user am-margin-left-md"></span> 个人中心</a></li>
                <li><a href="/user_info.php"><span class="am-icon-cog am-margin-left-md"></span> 账号设置</a></li>
                <li>
                    <a href="#" class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-balance-scale am-margin-left-md "></span> 交易管理<span class="am-icon-angle-right am-fr am-margin-right" style="margin-top:5px;"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" style="margin-top:0; background:#FFF;" id="collapse-nav">
                        <li class="nav1" style=" margin-bottom:0;"><a href="#"> 我的订单</a></li>
                        <li class="nav1" style=" margin-bottom:0;"><a href="#"> 我的评价</a></li>
                        <li class="nav1" style=" margin-bottom:0;"><a href="user_favourite.php"> 我的收藏</a></li>
                        <li class="nav1" style=" margin-bottom:0;"><a href="#"> 我的购物车</a></li>
                        <li class="nav1" style=" margin-bottom:0;"><a href="user_coupon.php"> 我的优惠券</a></li>
                    </ul>
                </li>
                <li><a href="/user_msg.php"><span class="am-icon-envelope am-margin-left-md"></span> 系统消息</a></li>
            </ul>
        </div>
    </div>
