<!DOCTYPE html>

<html>

<head lang="en">

  <meta charset="UTF-8">

  <title>帐号注册-SQdish食器</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <meta name="format-detection" content="telephone=no">

  <meta name="renderer" content="webkit">

  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="alternate icon" type="image/png" href="/templates/images/favicon.png">

  <link rel="stylesheet" href="/templates/assets/css/amazeui.min.css"/>

  <link rel="stylesheet" href="/templates/theme/css/sqWapStyle.css"/>

<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101285136" data-redirecturi="http://www.sqdish.com/quickLogin.php" charset="utf-8"></script>  

</head>

<body>

<header data-am-widget="header" class="am-header am-header-default sqBgColor">

    <div class="am-header-left am-header-nav">

                <a href="javascript:void(0)" onclick= "javascript :history.back(-1);"  class="">

            <i class="am-header-icon am-icon-chevron-left"></i>

		</a>

      </div>

    <h1 class="am-header-title">

        帐号注册

    </h1>

	<div class="am-header-right am-header-nav">

          <a href="/" class="">

              <span class="am-header-nav-title">

                首页

              </span> 

                <i class="am-header-icon am-icon-home"></i>

          </a>

      </div>

</header>



<div class="loginfrom am-g">

	<form class="am-form" id='_j_signup_form' method='post' action='register.php?action=wapmobile'>

		<div class="am-form-group">

			<input type="text" id="username" name="passport" class="am-form-field am-radius" placeholder="您的手机号" />

		</div>

		<div class="am-form-group">

                <div class="box" id="div_id_embed"></div>

		</div>

		<div class="am-form-group">

			<div class="am-g">

				<div class="am-u-sm-8">

					<input type="text" name='code' id='yzm' class="am-form-field am-radius" placeholder="您的验证码" />

				</div>

				<div class="am-u-sm-4">

					<input type="button" id='getyzm' onclick="Getcheckyzm()" class="am-btn am-btn-warning am-radius sqBgColor am-btn-block" style="padding:12% 10px; font-size:12px;"  value="获取验证码">

				</div>

			</div>

		</div>

		<input type="submit" class="am-btn am-btn-warning sqRegQuick am-btn-block" value="立即注册">

	</form>

</div>





<div class="threeLogin">

	<img src="/templates/images/cutLine.jpg" width="100%" alt=""/>

	<ul>

		<li><a href="/login.php?action=weixinLogin"  class="loginPic"><img src="/templates/images/weixinImg.jpg" /><br />微信登录</a></li>

		<li><a href="#" id="qqLoginBtn" onclick="qqLogin(); return false;" class="loginPic"><img src="/templates/images/qqImg.jpg" /><br />QQ登陆</a></li>

	</ul>

</div>



<footer class="am-g am-footer am-footer-default" style="float:left;margin:20px 0;">

    <div class="am-footer-switch">

    <span class="am-footer-desktop">

			手机版

    </span>

      <span class="am-footer-divider"> | </span>

      <a id="godesktop" class="am-footer-ysp" href="index.php?port=pc">

          电脑版

      </a>

    </div>

    <div class="am-footer-miscs ">	

            SQdish提供技术支持</p>

        <p>CopyRight©2016  Sanho Tec Inc.</p>

        <p>滇ICP备13033158</p>

    </div>

</footer>





<!--[if lt IE 9]>

<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>

<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>

<script src="/templates/assets/js/polyfill/rem.min.js"></script>

<script src="/templates/assets/js/polyfill/respond.min.js"></script>

<script src="/templates/assets/js/amazeui.legacy.js"></script>

<![endif]-->



<!--[if (gte IE 9)|!(IE)]><!-->

<script src="/templates/assets/js/jquery.min.js"></script>

<script src="/templates/assets/js/amazeui.min.js"></script>

<!--<![endif]-->



<script>

//提交注册信息

        function postUserAndCode() {

           $("#_j_signup_form").submit();

        }

//提交注册信息结束

       // QC.Login.signOut();



        var user_info = {};



        function qqLogin() {



            var oOpts = {



                appId: "101285136",



                redirectURI: "http://www.sqdish.com/quickLogin.php"



            }



            QC.Login.showPopup(oOpts);



        }



        window.onload = function () {



            if (QC.Login.check())



            {



                QC.api("get_user_info", user_info)



                        .success(function (s) {//成功回调  



                        })



                        .error(function (f) {//失败回调  



                        })



                        .complete(function (c) {



                            user_info.nickname = c.data.nickname;



                            user_info.figureurl = c.data.figureurl;



                            postUserInfo(user_info);



                        });







            }







        }

        //QQ登录结束

	            //极验证 代码

            var gtFailbackFrontInitial = function (result) {

                var s = document.createElement('script');

                s.id = 'gt_lib';

                s.src = 'http://static.geetest.com/static/js/geetest.0.0.0.js';

                s.charset = 'UTF-8';

                s.type = 'text/javascript';

                document.getElementsByTagName('head')[0].appendChild(s);

                var loaded = false;

                s.onload = s.onreadystatechange = function () {

                    if (!loaded && (!this.readyState || this.readyState === 'loaded' || this.readyState === 'complete')) {

                        loadGeetest(result);

                        loaded = true;

                    }

                };

            }

            //get  geetest server status, use the failback solution





            var loadGeetest = function (config) {



                //1. use geetest capthca

                window.gt_captcha_obj = new window.Geetest({

                    gt: config.gt,

                    challenge: config.challenge,

                    product: 'embed',

                    offline: !config.success

                });



                gt_captcha_obj.appendTo("#div_id_embed");

            }



            s = document.createElement('script');

            s.src = 'http://api.geetest.com/get.php?callback=gtcallback';

            $("#div_geetest_lib").append(s);



            var gtcallback = (function () {

                var status = 0, result, apiFail;

                return function (r) {

                    status += 1;

                    if (r) {

                        result = r;

                        setTimeout(function () {

                            if (!window.Geetest) {

                                apiFail = true;

                                gtFailbackFrontInitial(result)

                            }

                        }, 1000)

                    }

                    else if (apiFail) {

                        return

                    }

                    if (status == 2) {

                        loadGeetest(result);

                    }

                }

            })()



            $.ajax({

                url: "/StartCaptchaServlet.php?rand=" + Math.round(Math.random() * 100),

                type: "get",

                dataType: 'JSON',

                success: function (result) {

                    //console.log(result);

                    gtcallback(result);

                }

            })

            //极验证 代码 结束

 function postUserInfo(user_info) {

            $.ajax({

                type: "POST",

                async: true,

                url: "/register.php?action=qqLogin",

                contentType: "application/json", //必须有

                data: JSON.stringify(user_info), //相当于 //data: "{'str1':'foovalue', 'str2':'barvalue'}",

                success: function (jsonResult) {

                    var result = eval("(" + jsonResult + ")");

                    if (result['flag'] === 1) {

                        window.top.location = "/index.php";

                    } else {

                        alert(result['msg']);

                    }

                }

            });

        }

//获取验证码

        function Getcheckyzm() {

	        value = gt_captcha_obj.getValidate();

              if (!value)

              {

//                    $("#error_message").val('滑块验证未通过');

//                    $("#error_message").show();

//                    $("#username").attr('data-verification-result','failed');

                    alert('滑块验证未通过');

                    return;

              }

              var phone = $("#username").val();

              if(!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(phone)))

              { 

        			alert("不是完整的11位手机号或者正确的手机号前七位"); 

        			$("#username").focus(); 

        			return ; 

        	  } 

            $.ajax({

                type: "POST",

                async: true,

                url: "/register.php?action=Getcheckyzm",

                data: "passport=" + $("#username").val(),

                success: function (jsonResult) {

                    var result = eval("(" + jsonResult + ")");

                    if (result['flag'] === 1) {

                        alert(result['msgbox']);

                         _this = $('#getyzm');

                        _this.val('60s后重新发送');

                        _this.attr("disabled", true);

                        var n = 0, timer;

                        timer = setInterval(function () {

                        n++;

                        if (n == 60) {

                        _this.removeAttr("disabled");

                        clearInterval(timer);

                        return false;

                        }

                        var s = 60 - n;

                        _this.val(s + 's后重新发送');

                        }, 1000)

                    } else {

                        alert(result['msgbox']);

                    }

                }

            });

        }

//获取验证码结束

	</script>

</body>

</html>