<div class="footer2">
    <div class="wrap">
        <span class="s1">
            <a href="#">关于食器</a><span>丨</span>
            <a href="#">隐私政策</a><span>丨</span>
            <a href="#">服务条款</a><span>丨</span>
            <a href="#">我的账户</a><span>丨</span>
            <a href="#">客户服务</a><span>丨</span>
            <a href="#">常见问题</a><span>丨</span>
            <a href="#">联系我们</a>
        </span>
    </div>
</div>
<div class="footer3">
    <div class="wrap">
        <span class="s1">
            版权所有@2012-2015 SQDISH RIPPLE CO.,LTD ALL RIGHTS RESERVED<br>
            DESIGN & CODING BY Sanho Tec / 滇ICP备11010228号<br>
            HTTP://WWW.SQDISH.COM
        </span>
        <span class="s2">
            <ul class="lifl">
                <li><a href="#"><img src="templates/theme/bg/zfb.png" alt=""/></a></li>
                <li><a href="#"><img src="templates/theme/bg/wx1.png" alt=""/></a></li>
                <li><a href="#"><img src="templates/theme/bg/wx.png" alt=""/></a></li>
                <li><a href="#"><img src="templates/theme/bg/qq.png" alt=""/></a></li>
                <li><a href="#"><img src="templates/theme/bg/wb.png" alt=""/></a></li>
            </ul>
        </span>
    </div>
</div>