    <div class="am-u-md-2 dh">
		<div class="am-g">
		  <ul class="am-list">
			<li><a href="/user_index.php"><span class="am-icon-user am-margin-left-md"></span> 个人中心</a></li>
			<li><a href="/user_info.php"><span class="am-icon-cog am-margin-left-md"></span> 账号设置</a></li>
			<li>
			  <a href="#" class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-balance-scale am-margin-left-md "></span> 交易管理<span class="am-icon-angle-right am-fr am-margin-right" style="margin-top:5px;"></span></a>
			  <ul class="am-list am-collapse admin-sidebar-sub am-in" style="margin-top:0; background:#FFF;" id="collapse-nav">
				<li class="nav1" style=" margin-bottom:0;"><a href="/user_orders.php"> 我的订单</a></li>
				<li class="nav1" style=" margin-bottom:0;"><a href="/comment.php"> 我的评价</a></li>
			<li class="nav1" style=" margin-bottom:0;"><a href="/favourite.php"> 我的收藏</a></li>
				 <li class="nav1" style=" margin-bottom:0;"><a href="/shopcart.php"> 我的购物车</a></li>
				<li class="nav1" style=" margin-bottom:0;"><a href="/user_coupon.php"> 我的优惠券</a></li>
			  </ul>
			</li>
			<li><a href="Message Management.html"><span class="am-icon-envelope am-margin-left-md"></span> 系统消息</a></li>
		  </ul>
		</div>
  </div>