<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>我的优惠劵-SQdish食器</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
  <link rel="stylesheet" href="/templates/wap/theme/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/templates/wap/theme/css/style.css">
</head>
<body>
 <header data-am-widget="header" class="am-header am-header-default sqBgColor">
      <div class="am-header-left am-header-nav">
         <a href="user_index.php" class="">
             <i class="am-header-icon am-icon-chevron-left"></i>
          </a>
      </div>

       <h1 class="am-header-title">我的优惠劵</h1>
        <?php include "nav.html"?>
  </header>
  
  
    <div data-am-widget="tabs" class="am-tabs">
      <ul class="am-tabs-nav am-cf">
          <li class="am-active"><a href="[data-tab-panel-1]">全部</a></li>
          <li class=""><a href="[data-tab-panel-2]">过期</a></li>
      </ul>
      
       <div class="am-g lan"></div>
      
      <div class="am-tabs-bd" style="overflow:hidden;">
          <div data-tab-panel-1 class="am-tab-panel am-active" style="background:#f5f5f5;">
         
  
         <div class="am-g"  style="background:#FFF; padding:1rem"> 
                   <?php foreach ($couponList as $key => $value){?>
             <h2><?=$value['sellerinfor']['sellerName']?><br><img src="/templates/wap/theme/bg/star.png" style="width:20%; margin-right:.2rem;"><span style="color:#eda128; display:inline-block;">3.8</span></h2>
         </div>
  
            <div class="am-g lan"></div>
  
            <div class="am-g"  style="background:#FFF; margin-left:-1rem; border-right:2px #f5f5f5 dashed">
                <div class="am-u-sm-12" style="padding:2rem">
                    <div class="am-u-sm-2" style="padding:0;"><span class="couponimg"><img style= "width:213px;height:125px;" src="<?=$value['couponinfor']['pic']?>"></span></div>
                    <div class="am-u-sm-5" ><h1 class="tlite"><?=$value['couponinfor']['couponNameCN']?><br /><span>单价：<?=$value['price']?><br />数量：1</span></h1></div>
                    <div class="am-u-sm-5"><span class="time"><br>有效期至：<?=$value['couponinfor']['deadline']?></span></div>
                </div>
            </div>
            <div class="am-g lan"></div>
            <?php }?>
           
  
</div>
    <!-- <页1> -->     
 
                     
          <div data-tab-panel-2 class="am-tab-panel" style="background:#f5f5f5;">
             
                       <div class="am-g"  style="background:#FFF; padding:1rem"> 
                   <?php foreach ($couponList_deadline as $key => $value){?>
             <h2><?=$value['sellerinfor']['sellerName']?><br><img src="/templates/wap/theme/bg/star.png" style="width:20%; margin-right:.2rem;"><span style="color:#eda128; display:inline-block;">3.8</span></h2>
         </div>
  
            <div class="am-g lan"></div>
  
            <div class="am-g"  style="background:#FFF; margin-left:-1rem; border-right:2px #f5f5f5 dashed">
                <div class="am-u-sm-12" style="padding:2rem">
                    <div class="am-u-sm-2" style="padding:0;"><span class="couponimg"><img src="<?=$value['couponinfor']['pic']?>"></span></div>
                    <div class="am-u-sm-5"><h1 class="tlite"><?=$value['couponinfor']['couponNameCN']?><br /><span>单价：<?=$value['price']?><br />数量：1</span></h1></div>
                    <div class="am-u-sm-5"><span class="time"><span style="color:#F00;">已过期</span><br>有效期至：<?=$value['couponinfor']['deadline']?></span></div>
                </div>
            </div>
            <div class="am-g lan"></div>
            <?php }?>
           
  
</div>
  
  
  <!-- <页2>-->
     </div>
     
 </div>
</div>                        
</div>
   
   
   
   
   
   
   
   
   
   <div class="am-g lan"></div>
   
    <div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
    <a href="#top" title="">
        <img class="am-gotop-icon-custom" src="../theme/bg/top.png" />
    </a>
  </div>
  
<?php include "footer.html"?>

 
<script src="/templates/wap/theme/assets/js/jquery.min.js"></script>
<script src="/templates/wap/theme/assets/js/amazeui.min.js"></script>
</body>
</html>
</body>

</html>