<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>吃完再付-提示-SQdish食器</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
  <link rel="stylesheet" href="../theme/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="../theme/css/FinishEating.css">
</head>

<body>
 <header data-am-widget="header" class="am-header am-header-default sqBgColor">
      <div class="am-header-left am-header-nav">
         <a href="#left-link" class="">
             <i class="am-header-icon am-icon-chevron-left"></i>
          </a>
      </div>
       <h1 class="am-header-title">订单详情</h1>
       
  </header>
  
  <div class="am-g lan"></div>
  
  <div class="am-g" style="border-bottom:1px solid #ccc;">
  <div class="am-u-sm-6 am-u-sm-centered">
       <div data-am-widget="list_news" class="am-list-news" >
  <!--列表标题-->
    <div class="am-list-news-hd am-cf">
       <!--带更多链接-->
          <div class="tlite">
          <span>
          <img src="../theme/bg/success.png">
          </span>点餐成功
          </div>
          </div>

  <div class="am-list-news-bd">
  <ul class="am-list am-u-sm-10 am-u-sm-centered">

      <li class="am-g">
       <div class="am-list-item-text">请将菜单出示给服务员即可</div>
      </li>
      <li class="am-g">
        <a href="#" class="am-list-item-hd" style="float:left; width:50%;color:#eda128;">返回首页</a>
        <a href="account-MyOrder.html" class="am-list-item-hd" style="float:left;width:50%;color:#eda128;">查看订单</a>
      </li>
      <li class="am-g" style="margin-top:4rem;" >
        <div class="am-list-item-text text">用餐完毕后，您可以到<a href="account-MyOrder.html" style="color:#eda128;">我的订单</a><br>里进行付款。谢谢！</div>
      </li>
  </ul>
  </div>
  </div>
  </div>
</div>

<section class="am-panel">
  <header class="am-panel-hd">
    <h3 class="am-panel-title">订单详情</h3>
  </header>
  <div class="am-panel-bd">
   <ul>
       <li>订单编号：<span>1235468</span></li>
       <li>手机号码：<span>105632135</span></li>
       <li>数量：<span>4</span></li>
       <li>总价：<span>80元</span></li>
   </ul>
  </div>
</section>

<div class="am-g lan"></div>

<footer data-am-widget="footer"class="am-footer am-footer-default" data-am-footer="{  }">
    <div class="am-footer-switch">
    <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">
          首页
    </span>
      <span class="am-footer-divider"> | </span>
     
      <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">
          客户端
    </span>
      <span class="am-footer-divider"> | </span>
      
      <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">
          电脑版
    </span>
      <span class="am-footer-divider"> | </span>
      <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">
          帮助
    </span>
    </div>
    
    <div class="am-footer-miscs am-u-sm-12">
       <div class="am-u-sm-3"><img src="../theme/bg/line.png" class="am-img-responsive"></div>
       <div class="am-u-sm-6"><span>©2014 食器</span><span> 滇ICP证8888888号</span></div>
        <div class="am-u-sm-3"><img src="../theme/bg/line.png" class="am-img-responsive"></div>
    </div>
 
 
  </footer>

<script src="../theme/assets/js/jquery.min.js"></script>
<script src="../theme/assets/js/amazeui.min.js"></script> 
</body>
</html>