 <footer data-am-widget="footer"class="am-footer am-footer-default" data-am-footer="{  }">
    <div class="am-footer-switch">
     <a href="index.php"><span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">
          首页
    </span></a>
      <span class="am-footer-divider"> | </span>
     
      <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">
          客户端
    </span>
      <span class="am-footer-divider"> | </span>
      
      <a href="index.php?port=pc"><span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">
          电脑版
    </span></a>
      <span class="am-footer-divider"> | </span>
      <a href="templates/wap/help_detail.html"><span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">
          帮助
    </span></a>
    </div>
    
    <div class="am-footer-miscs am-u-sm-12">
       <div class="am-u-sm-3"><img src="/templates/wap/theme/bg/line.png" class="am-img-responsive"></div>
       <div class="am-u-sm-6"><span>©2014 食器</span><span> 滇ICP证8888888号</span></div>
        <div class="am-u-sm-3"><img src="/templates/wap/theme/bg/line.png" class="am-img-responsive"></div>
    </div>
 
 
  </footer>