<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>个人设置</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="assets/i/favicon.png">

  <link rel="stylesheet" href="../theme/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="../theme/css/05-2informationstyle.css">
</head>
<body>
<header data-am-widget="header" class="am-header am-header-default sqBgColor">
    <div class="am-header-left am-header-nav">
        <a href="#left-link" class="">
            <i class="am-header-icon am-icon-chevron-left"></i>
		</a>
      </div>
    <h1 class="am-header-title">
        个人设置
    </h1>
</header>
<div class="am-g">
	<ul class="am-list am-list-static">
	  <li>
		<img src="../theme/bg/geren.png">
		<span>吃小胖88</span>
		<a href="change-name.html">修改<i class="am-header-icon am-icon-chevron-right"></i></a></li>
	  <li>
		<img src="../theme/bg/mima.png">
		<span>修改登录密码</span>
		<a href="change-pssword.html">修改<i class="am-header-icon am-icon-chevron-right"></i></a></li>
	  <li>
		<img src="../theme/bg/phone.png">
		<span>手机号：138*****931</span>
		<a href="#">解绑请使用电脑</a></li>
	</ul>
</div>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../theme/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="../theme/assets/js/amazeui.min.js"></script>
</body>
</html>