<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>菜品详情页-SQdish食器</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
  <link rel="stylesheet" href="../theme/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="../theme/css/MenuDetailsPage.css">
</head>
<body>

 <header data-am-widget="header" class="am-header am-header-default sqBgColor">
      <div class="am-header-left am-header-nav">
         <a href="#left-link" class="">
             <i class="am-header-icon am-icon-chevron-left"></i>
          </a>
      </div>

       <h1 class="am-header-title">菜品详情</h1>
  </header>
  
  
  <div class="am-g" style="position:relative;">
     <img src="../theme/image/074334.jpg" style=" width:100%; "/>
      <div class="am-g" style="position:absolute; bottom:0; right:0; text-align: center ;width: 110%; background:rgba(0,0,0,0.5);">         
                <h3 class="am-gallery-title">鲜虾炒饭</h3>
       </div>         
        </div>
  </div>
  <div class="am-g" style="margin:.5rem 0; border-bottom:#f5f5f5 1px solid;">
      <div class="am-u-sm-8 name"><strong>￥25<span style="text-decoration:line-through;">原价：35元</span><span>103人购买</span></strong></div>
      <div class="am-u-sm-4"><button class="s-btn" type="button">加入购物车</button></div>
  </div>
  
  <div class="am-g" style="margin:.5rem 0; border-bottom:#f5f5f5 1px solid;">
      <div class="am-u-sm-12" style="margin-bottom:1rem;">
      <div class="am-u-sm-4">
           <strong style=" font-size:2rem;">可选食材：</strong>
       </div>
       <div class="am-u-sm-8">
           <button class="btn" type="button">虾仁</button>
           <button class="btn" type="button">蟹肉</button>
           <button class="btn" type="button">干贝</button>
       </div>    
      </div>
      <div class="am-u-sm-12">
         <div class="am-u-sm-4">
          <strong style=" font-size:2rem;">数量：</strong>
          </div>
           <div class="am-u-sm-8">
                     <ul class="float">
                        <li style="width:20%"><span class="Minus-sign">-</span></li>
                        <li style="width:40%"><input type="text" value="1" class="spinnerExample"/></li>
                        <li style="width:20%"><span class="Minus-sign">+</span></li>  
                    </ul>
            </div>        
      </div>
  </div>
  
  <div class="am-g">
      <div class="am-u-sm-6" style="background:url(../theme/bg/smline.png) no-repeat center;margin-bottom:2rem;">
          <div class="am-u-sm-6">
               <span style="display:inline-block; margin-right:1rem;"><img src="../theme/bg/fxg.png" style="width:100%"></span>放心购
          </div>
          <div class="am-u-sm-6">
         <span style="display:inline-block; margin-right:1rem;"><img src="../theme/bg/sj.png" style="width:100%"></span>商家
          </div>
      </div>
  </div>
  
  <div class="am-g" style="margin-bottom:2rem;">
      <div class="am-u-sm-12">
        <div class="am-u-sm-6">
        <button class="f-btn" type="button"><img src="../theme/bg/fx.png">分享</button>
        </div>
        <div class="am-u-sm-6">
        <button class="f-btn hover" type="button"><img src="../theme/bg/sc.png">收藏</button>
        </div>
      </div>
  </div>
  
  
   <div class="am-g lan"></div>
   
   <div class="am-g" style="margin-bottom:2rem;">
       <div class="am-u-sm-12" style="padding:0;">
             <div class="am-panel am-panel-default">
                <div class="am-panel-hd">菜品详情</div>
                   <table class="am-table">
                     <thead style=" background:#f5f5f5;">
                         <tr>
                           <th>菜品内容</th>
                             <th>数量</th>
                               <th>原价</th>
                            </tr>
                      </thead>
                  <tbody>
                     <tr>
                       <td>鲜虾炒饭</td>
                        <td>1份</td>
                         <td>35元</td>
                     </tr>    
                 </tbody>
                 </table>
                   <div class="am-panel-bd">
                        <article class="am-article">
                          <div class="am-article-hd">
                             <h1 class="am-article-title"><span class="black"></span>配菜包括：</h1>
                                <p class="am-article-meta">米饭、虾仁、罗布、等。</p>
                             </div>

                       <div class="am-article-bd">
                        <h1 class="am-article-title"><span class="black"></span>配菜包括：</h1>
                        <p class="am-article-meta">-忌：</p>
                        <p class="am-article-meta">1.米饭、虾仁、罗布、等。</p>
                        <p class="am-article-meta">2.米饭、虾仁、罗布、等。</p>
                        <p class="am-article-meta">3.米饭、虾仁、罗布、等。</p>
                         </div>
                      </article>
                   </div>
               </div>
       </div>
   </div>
  
   <div class="am-g lan"></div>
   
   <div class="am-g size">
       <strong>消费提示</strong>
   </div>
   <div class="am-g" style="border-bottom:#ccc 1px solid;">
        <div class="am-u-sm-4 padding bg">供应时间</div>
        <div class="am-u-sm-8 padding" style="line-height:5rem;">每天9:00-19:00</div>
   </div>
   <div class="am-g" style="border-bottom:#ccc 1px solid;">     
         <div class="am-u-sm-4 padding bg">预约提示</div>
        <div class="am-u-sm-8 padding" style="line-height:2.5rem;">网上订餐请提前1小时预约<br>预约位逾期不保留，请准时</div>
   </div>
   
   <div class="am-g" style="border-bottom:#ccc 1px solid; margin-bottom:2rem;"> 
         <div class="am-u-sm-4 padding bg">温馨提示</div>
        <div class="am-u-sm-8 padding" style="line-height:1.8rem; padding-bottom:0;">
              <ul style="margin:0;">
                  <li><span class="black"></span>可堂食，并提供打包服务</li>
                  <li><span class="black"></span>可堂食，并提供打包服务</li>
                  <li><span class="black"></span>可堂食，并提供打包服务</li>
                  <li><span class="black"></span>
                  可堂食，并提供打包服务</li>
              </ul>
        </div>
   </div>
   
   
    <div class="am-g lan"></div>
    
    <div class="am-g">
    <section class="am-panel am-panel-default">
  <header class="am-panel-hd">
    <strong>本店更多美食</strong><span class="block">换一组 <i class="am-icon-refresh am-icon-spin"></i></span>
  </header>
  <div class="am-panel-bd">
    <div class="am-g">
       
        <div class="am-u-sm-4">
    <a href="#" class="am-thumbnail">
      <img src="../theme/image/074334.jpg" alt=""/>
      <figcaption class="am-thumbnail-caption" style="text-align:center; font-size:2rem;">冬阴功汤<br><span style="color:#F00;">￥38</span>&nbsp;&nbsp;<span style="color:#CCC">已售54</span></figcaption>
    </a>
    </div>
    
    <div class="am-u-sm-4">
    <a href="#" class="am-thumbnail">
      <img src="../theme/image/074334.jpg" alt=""/>
      <figcaption class="am-thumbnail-caption" style="text-align:center; font-size:2rem;">冬阴功汤<br><span style="color:#F00;">￥38</span>&nbsp;&nbsp;<span style="color:#CCC">已售54</span></figcaption>
    </a>
    </div>
    
     <div class="am-u-sm-4">
    <a href="#" class="am-thumbnail">
      <img src="../theme/image/074334.jpg" alt=""/>
      <figcaption class="am-thumbnail-caption" style="text-align:center; font-size:2rem;">冬阴功汤<br><span style="color:#F00;">￥38</span>&nbsp;&nbsp;<span style="color:#CCC">已售54</span></figcaption>
    </a>
    </div>
  
    </div>
    </div>
    </section>
    </div>
    
     <div class="am-g lan"></div>
    
    <div class="am-g">
    <section class="am-panel am-panel-default">
  <header class="am-panel-hd">
    <strong>最近浏览</strong>
  </header>
  <div class="am-panel-bd">
    <div class="am-g">
       
        <div class="am-u-sm-3">
    <a href="#" class="am-thumbnail">
      <img src="../theme/image/074334.jpg" alt=""/>
      <figcaption class="am-thumbnail-caption" style="text-align:center; font-size:2rem;">冬阴功汤</figcaption>
    </a>
    </div>
    
    <div class="am-u-sm-3">
    <a href="#" class="am-thumbnail">
      <img src="../theme/image/074334.jpg" alt=""/>
      <figcaption class="am-thumbnail-caption" style="text-align:center; font-size:2rem;">冬阴功汤</figcaption>
    </a>
    </div>
    
     <div class="am-u-sm-3">
    <a href="#" class="am-thumbnail">
      <img src="../theme/image/074334.jpg" alt=""/>
      <figcaption class="am-thumbnail-caption" style="text-align:center; font-size:2rem;">冬阴功汤</figcaption>
    </a>
    </div>
    
    <div class="am-u-sm-3">
    <a href="#" class="am-thumbnail">
      <img src="../theme/image/074334.jpg" alt=""/>
      <figcaption class="am-thumbnail-caption" style="text-align:center; font-size:2rem;">冬阴功汤</figcaption>
    </a>
    </div>
  
    </div>
    </div>
    </section>
    </div>
    
    
   
   <div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
    <a href="#top" title="">
        <img class="am-gotop-icon-custom" src="../theme/bg/top.png" />
    </a>
  </div>
  
  <footer data-am-widget="footer"class="am-footer am-footer-default" data-am-footer="{  }">
    <div class="am-footer-switch">
    <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">
          首页
    </span>
      <span class="am-footer-divider"> | </span>
     
      <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">
          客户端
    </span>
      <span class="am-footer-divider"> | </span>
      
      <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">
          电脑版
    </span>
      <span class="am-footer-divider"> | </span>
      <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">
          帮助
    </span>
    </div>
    
   <div class="am-footer-miscs am-u-sm-12">
       <div class="am-u-sm-3"><img src="../theme/bg/line.png" class="am-img-responsive"></div>
       <div class="am-u-sm-6"><span>©2014 食器</span><span> 滇ICP证8888888号</span></div>
        <div class="am-u-sm-3"><img src="../theme/bg/line.png" class="am-img-responsive"></div>
    </div>
 
 
  </footer>

 
<script src="../theme/assets/js/jquery.min.js"></script>
<script src="../theme/assets/js/amazeui.min.js"></script>
</body>
</html>
</body>

</html>