 <nav data-am-widget="menu" class="am-menu  am-menu-dropdown1" data-am-menu-collapse > 
    <a href="javascript: void(0)" class="am-menu-toggle">
        <i class="am-header-icon am-icon-bars"></i>
    </a>
      <ul class="am-menu-nav am-avg-sm-1 am-collapse">
          <li class="">
            <a href="index.php" class="" ><i class="am-icon-home am-icon-sm"></i> 首页</a>
              
          </li>
          <li class="">
            <a href="dish/check.php" class="" ><i class="am-icon-shopping-cart am-icon-sm"></i> 购物车</a>
              
          </li>
          <li class="">
            <a href="user_orders.php" class="" ><i class="am-icon-check-square-o am-icon-sm"></i> 我的订单</a>
              
          </li>
          <li class="">
          
            <a href="favourite.php" class="" ><i class="am-icon-star-o am-icon-sm"></i> 我的收藏</a>
             
          </li>
          <li class="">
            <a href="user_coupon.php" class="" ><i class="am-icon-cny am-icon-sm"></i> 我的优惠劵</a>
          </li>
      </ul>
  </nav>